<div class="row">
  <div class="col-md-12">
    <mat-card class="all-songs-with-meaning-card">
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
        <app-download-table [table]="allSongsWithMeaning"></app-download-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
