<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar
         [ngStyle]="{'background-image': 'url('+reply.commentImage+')', backgroundSize: 'cover'}"></div>
    <mat-card-title>{{reply.commentedBy}}</mat-card-title>
    <mat-card-subtitle>replied on {{(reply.commentedOn | date: 'dd/MMM/yyyy')}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{reply.commentMsg}}
    </p>
  </mat-card-content>
</mat-card>
<hr/>
