<div class="row">
  <div class="col-md-8">
    <mat-card class="rules-card">
      <mat-card-content>
        <mat-list dense>
          <mat-list-item>
            <mat-icon matListIcon class="mb-3">chevron_right</mat-icon>
            <p>
              <b>
                Guruji Sri AS Raghavan is the only person to be referred as &#39;Guruji&#39; in our
                organization.
              </b></p>
          </mat-list-item>
          <mat-list-item class="mt-5 mt-md-1">
            <mat-icon matListIcon class="mb-3">chevron_right</mat-icon>
            <p>
              The Isai Vazhipaadu will be conducted as per the &#39;<b>Paddhathi</b>&#39; established by
              Guruji.
            </p>
          </mat-list-item>

          <mat-list-item class="mt-5 mt-md-1">
            <mat-icon matListIcon class="mb-3">chevron_right</mat-icon>
            <p>
              Only the 505 songs tuned by Guruji will be sung and in the <b>same ragam</b> that he has set.
            </p>
          </mat-list-item>

          <mat-list-item class="mt-5 mt-md-1">
            <mat-icon matListIcon class="mb-3">chevron_right</mat-icon>
            <p>
              Only the 505 songs tuned by Guruji will be sung and in the <b>same ragam</b> that
              he
              has set.
            </p>
          </mat-list-item>

          <mat-list-item class="mt-5 mt-md-1">
            <mat-icon matListIcon class="mb-3">chevron_right</mat-icon>
            <p>
              There should be strict discipline, silence and shanthi during and after the
              bhajan.
            </p>
          </mat-list-item>

          <mat-list-item class="mt-5 mt-md-1">
            <mat-icon matListIcon class="mb-3">chevron_right</mat-icon>
            <p>
              It is the responsibility of all teachers to let all new students know about
              Guruji.
            </p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4">

    <mat-card class="example-card">
      <img mat-card-image src="../../../../assets/otherPhotos/5-min.jpg"
           class="guru-img m-auto w-100"
           alt="guruji-img">
    </mat-card>

  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card class="golden-rules-card text-center">
      <img mat-card-image src="../../../../assets/goldenRules/goldenRules-min.jpg" class="img w-100 m-auto rounded"
           alt="golden-rules">
    </mat-card>
    <!--<img src="../../../../assets/goldenRules/goldenRules-min.jpg" class="img w-75 m-auto rounded" alt="golden-rules">-->
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card class="message-card">
      <mat-card-header>
        <mat-card-title>Message From Guruji</mat-card-title>
        <mat-card-subtitle>2001</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-8">
            <p><strong>My humble namaskarams to all anbargal who teach Thiruppugazh, students who learn Thiruppugazh,
              those
              anbargal who enjoy listening to Thiruppugazh and those who volunteer to serve in the Thiruppugazh Anbargal
              organisation.</strong></p>
            <p>Thiruppugazh is the divine words of andavan through the compositions of Saint Arunagirinathar, in the
              form of
              poetry. It contains the essence of the vedas.</p>
            <p> Andavan is making us sing, listen and understand with devotion, the Thiruppugazh with the correct
              chandam in
              the
              correct ragam, thaalam and bhava.
              Let us all incorporate the teachings into our way of life
            </p>
            <p>The true nature of the Paramporul is referred to as Murugan in Thiruppugazh
              For us to understand and enjoy the benefits of Thiruppugazh, the first change that is needed is to get rid
              of
              'யான்-தான் -- (I -My', ego-self).
            </p>
            <p>Only then one can see the Param porul in the words of Thiruppugazh</p>
            <p>'I am singing' 'I am singing well' 'I am singing better than others'-
              In the first place, these thoughts must be removed from our minds.
            </p>
            <p>Only if HE Andavan makes us sing, we sing.Any singing without HIS wish will not happen.This should be
              understood
              by us. Everybody cannot sing in the same manner. Andavan makes each one sing according to his capacity.It
              is
              therefore not right to discuss or comment about anybody's inability to sing the way they have been
              taught.</p>
            <p>Thiruppugazh teaches that those who cannot sing in raga, thala and bhava can benefit even by reading
              aloud or
              reading in the mind. Murugan will still bless them</p>
          </div>
          <div class="col-md-4">
            <img mat-card-image src="../../../../assets/otherPhotos/9-min.png"
                 class="guru-img m-auto w-100"
                 alt="guruji-img">
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <p>So let all those who learn, teach, listen and sing Thiruppugazh .Understand this and get the blessings of
              Murugan</p>
            <p>'Anbu' is the word or substance of all Thiruppugazh.What each one of us has to realise is that the
              central
              theme
              of Thiruppugazh is 'Anbe Sivam'</p>
            <p>If we submerge ourselves in this 'Anbe Sivam', it will surely remove all bad thoughts, bad deeds, from
              our
              minds
              and enable us to show love towards all beings and elevate us to the ADVAITA stage. Let us not waste this
              realisation on worldly matters, let us elevate ourselves and sing with devotion and keep this feeling of
              Anbu
              -Love in our minds.</p>
            <p>Once we are able to keep this love within us, we will develop AVIROTHAM –NON ENIMITY/be able to talk and
              relate
              with all and do Thruppugazh work as one family.</p>
            <p>Arunagirinathar has given two unmatched teachings viz.</p>
            <p>ANBU & AVIROTHAM</p>
            <p>LOVE & NON ENIMITY</p>
            <p>Let us get rid of self pride and dwell in Anbu and Avirotham and do Thiruppugazh service.</p>
            <p>The teaching anbargal, learning anbargal, all those working under the banner of Thiruppugazh Anbargal,
              should
              imbibe these three gunas viz. Anbu, Avirodam and Aanavam atra nilai (egoless state).</p>
            <p>Only then will their service be fruitful, beneficial, divine and pleasing to Muruga.</p>
            <p>Whatever we do, we should realize that andavan is making us do it. Service done without doubts, anguish,
              done
              with attitude of selflessness will never go in vain.</p>
          </div>
          <div class="col-md-4">
            <img mat-card-image src="../../../../assets/otherPhotos/10-min.png"
                 class="guru-img m-auto w-100"
                 alt="guruji-img">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
