
.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.example-spacer {
  flex: 1 1 auto;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

#content {
  width: 100%;
  transition: all 0.3s;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  top:0;
  transition: all 0.5s ease-in-out;
}
.overlay.active {
  display: block;
  opacity: 1;
}
.font-size-18{
  font-size: 18px;
}
.dropdown-toggle::after{
  display: none;
}
.navbar-nav .dropdown-menu{
  position: absolute;
  left: -200px;
  min-width: 15rem;
  padding: 0;
}
.dropdown-item.active, .dropdown-item:active{
  background-color: transparent;
}
