<div class="wrapper">
  <div id="content">
    <mat-toolbar class="fixed-top">
      <mat-toolbar-row>
        <button mat-icon-button aria-label="Side menu icon" appNavToggle>
          <mat-icon>menu</mat-icon>
        </button>
        <a mat-button routerLink="/" (click)="closeSideNav()">Thiruppugazh Anbargal</a>
        <span class="example-spacer"></span>
        <a [matMenuTriggerFor]="beforeMenu" class="pointer"
           *ngIf="(authState | async).isLoggedIn;else other_content">
          <div mat-card-avatar *ngIf="(authState| async).user?.photoURL;else profile"
               [ngStyle]="{'background-image': 'url('+(authState| async).user?.photoURL+')',
                        backgroundSize: 'cover'}">
          </div>
          <ng-template #profile>
            <mat-icon class="profile-icon" color="primary">
              account_circle
            </mat-icon>
          </ng-template>
        </a>
        <ng-template #other_content>
          <a [matMenuTriggerFor]="beforeMenu" class="pointer">
            <button mat-icon-button color="primary" aria-label="drop icon">
              <mat-icon class="example-icon">
                more_vert
              </mat-icon>
            </button>
          </a>
        </ng-template>

        <mat-menu #beforeMenu="matMenu" xPosition="before" class="overflow-hidden container">
          <ng-container *ngIf="(authState| async).isLoggedIn">
            <div class="row">
              <div class="col-12">
                <h5><span class="badge badge-secondary">#{{(authState | async).user.displayName}}</span></h5>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <div mat-card-avatar class="m-auto"
                     [ngStyle]="{'background-image': 'url('+(authState| async).user?.photoURL+')',
                        backgroundSize: 'cover',width:'150px',height:'150px'}"></div>
              </div>
              <div class="col-5 text-center m-auto">
                <button mat-button color="warn"
                        [routerLinkActive]="['mat-button-toggle-checked']"
                        [routerLink]="['user-auth','sign-in']" (click)="logOut()">
                  Logout
                </button>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="(authState| async).isLoggedIn === false">
            <div class="row">
              <div class="col-12 text-center">
                <a mat-button [routerLinkActive]="['mat-button-toggle-checked']" class="w-100"
                   [routerLink]="['user-auth','sign-in']" color="primary">Sign in</a>
              </div>
            </div>
          </ng-container>
          <div class="row">
            <div class="col-12">
              <mat-list role="list">
                <mat-list-item role="listitem">
                  <mat-slide-toggle (change)="darkTheme($event)" [checked]="isDark()">Dark theme</mat-slide-toggle>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
