<mat-toolbar>

  <mat-toolbar-row>
    <a mat-button [color]="rl.isActive ? 'primary': ''" routerLinkActive [routerLink]="['AboutUs']"
       #rl="routerLinkActive">About Us</a>
    <span class="example-spacer"></span>
    <a href="https://www.facebook.com/Thiruppugazh-Anbargal-341776189325994/" target="_blank">
      <i class="icon ion-logo-facebook f "></i></a>
  </mat-toolbar-row>
  <mat-toolbar-row class="text-center display-block mat-card-subtitle">
    Copyright © 2019 by Thiruppugazh Anbargal. All rights reserved.
  </mat-toolbar-row>
</mat-toolbar>
