<div class="row">
  <div class="col-md-12">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar
             [ngStyle]="{'background-image': 'url('+comment.comment.commentImage+')', backgroundSize: 'cover'}"></div>
        <mat-card-title>{{comment.comment.commentedBy}}</mat-card-title>
        <mat-card-subtitle>commented on {{comment.comment.commentedOn | date: 'dd/MMM/yyyy'}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-12">
            <p>{{comment.comment.commentMsg}}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <app-reply-card *ngFor="let reply of comment.comment.replies" [reply]="reply"></app-reply-card>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" aria-label="Reply icon" [matTooltip]="'reply'"
                (click)="activateReply()">
          reply
          <mat-icon>reply</mat-icon>
        </button>
        <div class="row mt-1" *ngIf="isReplyActive">
          <div class="col-10 col-md-11">
            <mat-form-field class="w-100">
              <textarea matInput placeholder="Your reply" #reply></textarea>
            </mat-form-field>
          </div>
          <div class="col-2 col-md-1 m-auto">
            <button mat-icon-button color="primary" matTooltip="submit reply" aria-label="send icon"
                    (click)="submitReply(reply)">
              <mat-icon>send</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<hr/>
