<mat-card class="office-bearers-card">
  <mat-card-header>
    <mat-card-title>Office Bearers 1987-2018</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon color="primary">date_range</mat-icon> 1987 - 1993
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-office-bearers-table [data]="tableOne.data" [heading]="tableOne.heading"
                                [hasFour]="false"></app-office-bearers-table>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon color="primary">date_range</mat-icon> 1993 - 2002
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-office-bearers-table [data]="tableTwo.data" [heading]="tableTwo.heading"
                                [hasFour]="false"></app-office-bearers-table>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon color="primary">date_range</mat-icon> 2002 - 2008
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-office-bearers-table [data]="tableThree.data" [heading]="tableThree.heading"
                                [hasFour]="false"></app-office-bearers-table>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon color="primary">date_range</mat-icon> 2008 - 2019
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-office-bearers-table [data]="tableFour.data" [heading]="tableFour.heading"
                                [hasFour]="true"></app-office-bearers-table>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-card-content>
  </mat-card-content>
</mat-card>
