<mat-list>
  <h1 mat-subheader>Guruji Sri A.S. Raghavan started teaching Thiruppugazh in 1958</h1>
  <mat-list-item *ngFor="let event of events">
    <mat-icon mat-list-icon color="">date_range</mat-icon>
    <h4 mat-line>{{event.date}}</h4>
    <p mat-line > {{event.event}} </p>
    <button mat-button color="accent" (click)="openBottomSheet(event.date,event.event)">view</button>
  </mat-list-item>
</mat-list>
