<div id="carouselFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/aboutGuruji/banners/banner-1-min.webp" class="d-block w-100" alt="banner1">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/aboutGuruji/banners/banner-2-min.webp" class="d-block w-100" alt="banner2">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/aboutGuruji/banners/banner-3-min.webp" class="d-block w-100" alt="banner3">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/aboutGuruji/banners/banner-4-min.webp" class="d-block w-100" alt="banner4">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <div class="carousel-caption d-none d-md-block">
    <h5>Guruji Sri AS Raghavan</h5>
  </div>
</div>
