<div class="row">
  <div class="col-md-12">
    <mat-tab-group dynamicHeight>
      <mat-tab label="Major Events">
        <app-major-events></app-major-events>
      </mat-tab>
      <mat-tab label="Office Bearers">
        <app-office-bearers></app-office-bearers>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>




