<div class="overflow-auto">
  <mat-form-field color="primary" class="w-75">
    <input matInput (keyup)="applyFilter($event.target?.value)" placeholder="Search here...">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- sno Column -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <mat-icon color="primary">format_list_numbered</mat-icon>
      </th>
      <td mat-cell *matCellDef="let element;let index = index"> {{index + 1}} </td>
    </ng-container>

    <!-- music Column -->
    <ng-container matColumnDef="song">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <mat-icon color="primary">queue_music</mat-icon>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- download Column -->
    <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <mat-icon color="primary">get_app</mat-icon>
      </th>
      <td mat-cell *matCellDef="let element">
        <a mat-icon-button [href]="element.url" target="_blank"
           color="accent">
          <mat-icon>get_app</mat-icon>
        </a>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="openLink(row.url)" class="pointer" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
