<!-- Sidebar -->

<mat-list>
  <h3 matSubheader>Thiruppugazh Anbargal</h3>
  <mat-list-item [routerLinkActive]="['mat-button-toggle-checked','mat-accent']"
                 [routerLink]="['/welcome','AboutGuruji']" appNavHide class="pointer" #rla="routerLinkActive">
    <mat-icon [ngClass]="{'mat-primary':rla.isActive}" matListIcon>note</mat-icon>
    <h4 matLine>About Guruji</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLinkActive]="['mat-button-toggle-checked']" [routerLink]="['/welcome','GoldenRules']"
                 appNavHide class="pointer" #rlb="routerLinkActive">
    <mat-icon [ngClass]="{'mat-primary':rlb.isActive}" matListIcon>format_list_bulleted</mat-icon>
    <h4 matLine>Golden Rules, Message from Guruji</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLinkActive]="['mat-button-toggle-checked']" [routerLink]="['/welcome','Centers']" appNavHide
                 class="pointer" #rlc="routerLinkActive">
    <mat-icon [ngClass]="{'mat-primary':rlc.isActive}" matListIcon>public</mat-icon>
    <h4 matLine>Centers in India & World</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLinkActive]="['mat-button-toggle-checked']" [routerLink]="['/welcome','SongsWithScript']"
                 [queryParams]="{showPlaylist: 0}" appNavHide class="pointer" #rld="routerLinkActive">
    <mat-icon [ngClass]="{'mat-primary':rld.isActive}" matListIcon>music_note</mat-icon>
    <h4 matLine>Songs
      With Script & Audio</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLinkActive]="['mat-button-toggle-checked']" [routerLink]="['/welcome','Vaguppu']"
                 appNavHide class="pointer" #rle="routerLinkActive">
    <mat-icon [ngClass]="{'mat-primary':rle.isActive}" matListIcon>folder</mat-icon>
    <h4 matLine>Vaguppu</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLinkActive]="['mat-button-toggle-checked']" [routerLink]="['/welcome','Virutham']"
                 appNavHide class="pointer" #rlf="routerLinkActive">
    <mat-icon [ngClass]="{'mat-primary':rlf.isActive}" matListIcon>folder</mat-icon>
    <h4 matLine>Virutham</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLinkActive]="['mat-button-toggle-checked']" [routerLink]="['/welcome','AbhiramiAndadiPathikam']"
                 appNavHide class="pointer" #rlg="routerLinkActive">
    <mat-icon [ngClass]="{'mat-primary':rlg.isActive}" matListIcon>folder</mat-icon>
    <h4 matLine>Abhirami Andadi Pathikam</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLinkActive]="['mat-button-toggle-checked']"
                 [routerLink]="['/welcome','MajorEvents&OfficeBearers']"
                 appNavHide class="pointer" #rlh="routerLinkActive">
    <mat-icon [ngClass]="{'mat-primary':rlh.isActive}" matListIcon>event</mat-icon>
    <h4 matLine>Major Events & Office Bearers</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLinkActive]="['mat-button-toggle-checked']" [routerLink]="['/welcome','PaddhathiOfBhajan']"
                 appNavHide class="pointer" #rli="routerLinkActive">
    <mat-icon [ngClass]="{'mat-primary':rli.isActive}" matListIcon>folder</mat-icon>
    <h4 matLine>Paddhathi of a Bhajan</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLinkActive]="['mat-button-toggle-checked']" [routerLink]="['/welcome','ListOfSongs']"
                 appNavHide class="pointer" #rlj="routerLinkActive">
    <mat-icon [ngClass]="{'mat-primary':rlj.isActive}" matListIcon>folder</mat-icon>
    <h4 matLine>List Of Songs</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLinkActive]="['mat-button-toggle-checked']" [routerLink]="['/welcome','AllSongsWithMeaning']"
                 appNavHide class="pointer" #rlk="routerLinkActive">
    <mat-icon [ngClass]="{'mat-primary':rlk.isActive}" matListIcon>folder</mat-icon>
    <h4 matLine>All Songs With Meaning</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLinkActive]="['mat-button-toggle-checked']" [routerLink]="['/welcome','ValliKalyanam']"
                 appNavHide class="pointer" #rll="routerLinkActive">
    <mat-icon [ngClass]="{'mat-primary':rll.isActive}" matListIcon>folder</mat-icon>
    <h4 matLine>Valli Kalyanam</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLinkActive]="['mat-button-toggle-checked']" [routerLink]="['/welcome','Bhajans']"
                 appNavHide class="pointer" #rlm="routerLinkActive">
    <mat-icon [ngClass]="{'mat-primary':rlm.isActive}" matListIcon>folder</mat-icon>
    <h4 matLine>Bhajans</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLinkActive]="['mat-button-toggle-checked']" [routerLink]="['/welcome','Articles']"
                 appNavHide class="pointer" #rln="routerLinkActive">
    <mat-icon [ngClass]="{'mat-primary':rln.isActive}" matListIcon>note</mat-icon>
    <h4 matLine>Articles</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLinkActive]="['mat-button-toggle-checked']" [routerLink]="['WriteToUs']"
                 appNavHide class="pointer" #rlo="routerLinkActive">
    <mat-icon [ngClass]="{'mat-primary':rlo.isActive}" matListIcon>mode_comment</mat-icon>
    <h4 matLine>Write To Us</h4>
  </mat-list-item>
</mat-list>

