<div class="overflow-auto">
  <table *ngIf="!hasFour" mat-table [dataSource]="dataSource" class="mat-elevation-z8 width-1200">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- h1 Column -->
    <ng-container matColumnDef="h1">
      <th mat-header-cell *matHeaderCellDef> {{heading.h1}} </th>
      <td mat-cell *matCellDef="let element"> {{element.post}} </td>
    </ng-container>

    <!-- h2 Column -->
    <ng-container matColumnDef="h2">
      <th mat-header-cell *matHeaderCellDef> {{heading.h2}} </th>
      <td mat-cell *matCellDef="let element"> {{element.nameA}} </td>
    </ng-container>

    <!-- h3  Column -->
    <ng-container matColumnDef="h3">
      <th mat-header-cell *matHeaderCellDef> {{heading.h3}} </th>
      <td mat-cell *matCellDef="let element"> {{element.nameB}} </td>
    </ng-container>

    <!-- h4 Column -->
    <ng-container matColumnDef="h4">
      <th mat-header-cell *matHeaderCellDef> {{heading.h4}} </th>
      <td mat-cell *matCellDef="let element"> {{element.nameC}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <table *ngIf="hasFour" mat-table [dataSource]="dataSource" class="mat-elevation-z8 width-1200">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- h1 Column -->
    <ng-container matColumnDef="h1">
      <th mat-header-cell *matHeaderCellDef> {{heading.h1}} </th>
      <td mat-cell *matCellDef="let element"> {{element.post}} </td>
    </ng-container>

    <!-- h2 Column -->
    <ng-container matColumnDef="h2">
      <th mat-header-cell *matHeaderCellDef> {{heading.h2}} </th>
      <td mat-cell *matCellDef="let element"> {{element.nameA}} </td>
    </ng-container>

    <!-- h3  Column -->
    <ng-container matColumnDef="h3">
      <th mat-header-cell *matHeaderCellDef> {{heading.h3}} </th>
      <td mat-cell *matCellDef="let element"> {{element.nameB}} </td>
    </ng-container>

    <!-- h4 Column -->
    <ng-container matColumnDef="h4">
      <th mat-header-cell *matHeaderCellDef> {{heading.h4}} </th>
      <td mat-cell *matCellDef="let element"> {{element.nameC}} </td>
    </ng-container>

    <!-- h5 Column -->
    <ng-container matColumnDef="h5">
      <th mat-header-cell *matHeaderCellDef> {{heading.h5}} </th>
      <td mat-cell *matCellDef="let element"> {{element.nameD}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumnsNew"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsNew;"></tr>
  </table>
</div>

