<div class="row">
  <div class="col-md-12">
    <mat-card class="about-us-card">
      <mat-card-header>
        <mat-card-title>About Us</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>This web site has been developed with the intention of propagating <b>Guruji Sri A.S. Raghavan’s</b> enormous
          contribution to society. All of us, our parents and generations to come will benefit from this, so I thought
          it is
          our duty to consolidate everything and preserve it for posterity.</p>
        <p>The aim is that anyone opening this web site can get all the music, several bhajans, the true paddhathi of a
          bhajan, all centres round the world etc etc.</p>
        <p>We have tried not to highlight anybody by name, as we are after all just small instruments in this whole
          scheme
          of things. We should consider ourselves blessed, we lived in the era when Guruji was present and we developed
          an
          interest in this.</p>
        <p>In developing this web site I have taken help of many members of our group, across the country. I would just
          like
          to mention the two persons who gave me the technical help in developing this web site. They are</p>
        <p>Sri Pavan Kumar our son in law,</p>
        <p>Sri Murali Manohar his cousin</p>
        <p>Please pray to Senthil andavan to shower His blessings on them for a happy, successful and contented life and
          more in the service of the LORD.</p>
        <p>I wish to add as many of Guruji’s bhajans, pictures, speeches, functions or anecdotes. Let this site remain
          exclusively for GURUJI, Thiruppugazh and Muruga.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

