<div class="row">
  <div class="col-md-12">
    <mat-card class="h-500 bg-img text-white">
      <mat-card-header>
        <mat-card-title>
          <h2 class="mat-headline  f-w-400">
            Write To Us
          </h2>
        </mat-card-title>
        <mat-card-subtitle class="text-white" *ngIf="(authState | async).isLoggedIn;else notLogged">
          Post your Question & connect with other Anbargal
        </mat-card-subtitle>
        <ng-template #notLogged>
          <mat-card-subtitle class="text-white">Please sign in to start conversation
            <a mat-button color="primary"
               (click)="showLoginDialog()"
               class="p-0">click
              here</a> to sign in
          </mat-card-subtitle>
        </ng-template>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-12">
            <mat-list>
              <mat-list-item class="text-white">
                <mat-icon matListIcon color="primary">mail</mat-icon>
                <p matLine>
                  Reach us at <a mat-button color="accent" class="p-1"
                                 href="javascript:void(0)">thirupanbar@gmail.com</a>
                </p>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row" *ngIf="(authState | async).isLoggedIn;else notLoggedDown">
  <div class="col-md-12">
    <h3 class="mat-headline mat-h3">Start a new conversation {{(authState | async).user.displayName}}</h3>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar
             [ngStyle]="{'background-image': 'url('+(authState| async).user?.photoURL+')', backgroundSize: 'cover'}"></div>
        <mat-card-title>{{(authState | async).user?.displayName}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="comment-form" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-10 col-md-11">
              <mat-form-field class="w-100">
                <textarea matInput placeholder="Your message" [errorStateMatcher]="matcher"
                          formControlName="comment" maxlength="256" #description></textarea>
                <mat-hint align="end">{{description.value.length}} / 256</mat-hint>
                <mat-error *ngIf="commentForm.get('comment').invalid">Please enter your
                  <strong>message</strong></mat-error>
              </mat-form-field>
            </div>
            <div class="col-2 col-md-1 m-auto">
              <button mat-mini-fab type="submit" aria-label="Submit icon" color="primary" [matTooltip]="'Submit'">
                <mat-icon>send</mat-icon>
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<ng-template #notLoggedDown>
  <div class="row">
    <div class="col-md-12">
      <mat-card-subtitle class="text-center">
        Please sign in to start conversation
        <a mat-button color="primary"
           (click)="showLoginDialog()"
           class="p-0">click
          here</a> to sign in
      </mat-card-subtitle>
    </div>
  </div>
</ng-template>
<hr/>
<div class="row" *ngIf="(appState | async).comments && (appState | async).comments?.length> 0 ">
  <div class="col-md-12">
    <h3 class="mat-headline mat-h3">Comments</h3>
    <app-comment-card *ngFor="let comment of (appState | async).comments" [comment]="comment"
                      [user]="(authState | async).user"></app-comment-card>
  </div>
</div>

