<div class="row">
  <div class="col-md-12">
    <mat-card class="example-card">
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
        <p>
          These are 21 sets of two lists which cover all songs , viruthams and vaguppu.
        </p>
        <p>
          These lists have been prepared with great care to avoid repeat of ragas and complete all 503 songs. This can
          serve as a ready reckoner.
        </p>
      </mat-card-content>
      <app-download-table [table]="listOfSongsData"></app-download-table>
    </mat-card>
  </div>
</div>
