<h1 mat-dialog-title>{{data.playListName}}</h1>
<div mat-dialog-content>
  <p>{{data.description}}</p>

  <ng-container *ngIf="dataSource.data.length > 0">
    <div class="row">
      <div class="col-md-12 box overflow-auto">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 width-1500">
          <ng-container matColumnDef="song name">
            <th mat-header-cell *matHeaderCellDef>Song Name</th>
            <td mat-cell *matCellDef="let element"><a [href]="element.songUrl"
                                                      target="_blank">{{element.songName}}</a></td>
          </ng-container>

          <ng-container matColumnDef="new number">
            <th mat-header-cell *matHeaderCellDef> New Number</th>
            <td mat-cell *matCellDef="let element"> {{element.newNumber}} </td>
          </ng-container>

          <ng-container matColumnDef="old number">
            <th mat-header-cell *matHeaderCellDef> Old Number</th>
            <td mat-cell *matCellDef="let element"> {{element.oldNumber}} </td>
          </ng-container>

          <ng-container matColumnDef="ragam">
            <th mat-header-cell *matHeaderCellDef> ragam</th>
            <td mat-cell *matCellDef="let element"> {{element.ragam}} </td>
          </ng-container>

          <ng-container matColumnDef="thalam">
            <th mat-header-cell *matHeaderCellDef> thalam</th>
            <td mat-cell *matCellDef="let element"><a [href]="element.thalamUrl"
                                                      target="_blank">{{element.thalam}}</a></td>
          </ng-container>

          <ng-container matColumnDef="tamil meaning">
            <th mat-header-cell *matHeaderCellDef> tamil meaning</th>
            <td mat-cell *matCellDef="let element"><a [href]="element.tamilMeaningUrl"
                                                      target="_blank">{{element.tamilMeaning}}</a></td>
          </ng-container>

          <ng-container matColumnDef="meaning">
            <th mat-header-cell *matHeaderCellDef> meaning</th>
            <td mat-cell *matCellDef="let element"> {{element.meaning}} </td>
          </ng-container>

          <ng-container matColumnDef="classify1">
            <th mat-header-cell *matHeaderCellDef> classify1</th>
            <td mat-cell *matCellDef="let element"> {{element.classify1}} </td>
          </ng-container>

          <ng-container matColumnDef="classify2">
            <th mat-header-cell *matHeaderCellDef> classify2</th>
            <td mat-cell *matCellDef="let element"> {{element.classify2}} </td>
          </ng-container>

          <ng-container matColumnDef="classify3">
            <th mat-header-cell *matHeaderCellDef> classify3</th>
            <td mat-cell *matCellDef="let element"> {{element.classify3}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="width-1500"></mat-paginator>
      </div>
    </div>
  </ng-container>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
