<form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>Forgot Password</h1>
  <div mat-dialog-content>
    <p>Please enter your email id</p>
    <mat-form-field>
      <input matInput placeholder="Enter your email" [errorStateMatcher]="matcher" formControlName="email">
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="forgotForm.get('email').invalid && forgotForm.get('email').errors?.required">Please enter
        <strong>email</strong></mat-error>
      <mat-error *ngIf="forgotForm.get('email').invalid && forgotForm.get('email').errors?.email">Please enter
        <strong>valid email</strong></mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="submit">Submit</button>
    <button mat-button type="button" (click)="onNoClick()">Close</button>
  </div>
</form>

