<mat-form-field class="w-100">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Contact">
</mat-form-field>

<div class="width-100 overflow-auto">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8 m-auto m-3 w-400">
    <!-- name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>
        <mat-icon color="primary">person</mat-icon>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element?.name}} </mat-cell>
    </ng-container>

    <!-- place Column -->
    <ng-container matColumnDef="place">
      <mat-header-cell *matHeaderCellDef>
        <mat-icon color="primary">place</mat-icon>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element?.state}} </mat-cell>
    </ng-container>

    <!-- phone Column -->
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef>
        <mat-icon color="primary">call</mat-icon>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element?.number}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>















