<div class="overflow-auto">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8 m-auto mt-3 mb-3">
    <!-- tab1 Column -->
    <ng-container matColumnDef="sno">
      <mat-header-cell *matHeaderCellDef>Event</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element?.sno}} </mat-cell>
    </ng-container>

    <!-- tab2 Column -->
    <ng-container matColumnDef="event">
      <mat-header-cell *matHeaderCellDef>Landmark</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element?.event}} </mat-cell>
    </ng-container>

    <!-- tab3 Column -->
    <ng-container matColumnDef="venue">
      <mat-header-cell *matHeaderCellDef>Place</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element?.venue}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef>Place</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element?.time}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
