<div class="row">
  <div class="col-md-4" *ngFor="let playlist of (authState| async).userLibrary?.playList;let i = index">
    <mat-card class="example-card m-1">
      <div class="row">
        <div class="col-8">
          <mat-card-header>
            <div mat-card-avatar
                 [ngStyle]="{'background-image': 'url('+(authState| async).user?.photoURL+')', backgroundSize: 'cover'}"></div>
            <mat-card-title matLine [matTooltip]="playlist.playListName">{{playlist.playListName | truncatePipe:[10, '...']  }}</mat-card-title>
          </mat-card-header>
        </div>
        <div class="col-4 text-right">
          <button mat-button (click)="deletePlayList(playlist,i)">
            <mat-icon class="example-icon" aria-hidden="false" color="warn" aria-label="Example delete icon">delete
            </mat-icon>
          </button>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-12">
          <mat-card-content>
            <p>
              {{playlist.description}}
            </p>
          </mat-card-content>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-card-actions>
            <div class="row">
              <div class="col">
                <button mat-button (click)="exportPlayList(playlist)">Export</button>
              </div>
              <div class="col">
                <button mat-button (click)="viewPlayList(playlist,i)">View</button>
              </div>
            </div>
          </mat-card-actions>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<div class="row mt-3" *ngIf="(authState| async).userLibrary?.playList?.length === 0 || !(authState| async).userLibrary?.playList">
  <div class="col-12 text-center">
    <mat-card-subtitle>You have no playlist's</mat-card-subtitle>
    <hr/>
  </div>
</div>
