<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div mat-dialog-content>
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Sign in</mat-card-title>
              <mat-card-subtitle>
                Please sign in to continue...
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Enter email</mat-label>
                <input type="email" [errorStateMatcher]="matcher" matInput placeholder="Enter email"
                       formControlName="email"
                       autocomplete="username email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="signInForm.get('email').invalid && signInForm.get('email').errors?.required">Please
                  enter
                  <strong>email</strong></mat-error>
                <mat-error *ngIf="signInForm.get('email').invalid && signInForm.get('email').errors?.email">Please enter
                  <strong>valid email</strong></mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Enter password</mat-label>
                <input type="password" #password [errorStateMatcher]="matcher" minlength="6" matInput
                       placeholder="Enter password" formControlName="password" autocomplete="password">
                <mat-icon matSuffix (mousedown)="togglePassword(password,'text')"
                          (mouseup)="togglePassword(password,'password')" class="pointer"
                          [color]="passIconColor">remove_red_eye
                </mat-icon>
                <mat-error *ngIf="signInForm.get('password').invalid && signInForm.get('password').errors?.required">
                  Please
                  enter
                  <strong>password</strong></mat-error>
                <mat-error *ngIf="signInForm.get('password').invalid && signInForm.get('password').errors?.minlength">
                  password must be minimum <strong>6 characters</strong></mat-error>
              </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button type="submit" color="primary">Sign In</button>
              <div id="firebaseui-auth-container">
              </div>
            </mat-card-actions>
          </mat-card>

        </form>
      </div>
      <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Close</button>
      </div>
    </div>
  </div>
</div>
