<div class="row">
  <div class="col-md-12">
    <mat-card class="page-not-found-card">
      <mat-card-header>
        <mat-card-title>Error 404</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          The requested page not found
        </p>
        <app-body-links></app-body-links>
      </mat-card-content>
    </mat-card>
  </div>
</div>
