<ng-container *ngIf="!(authState| async).isLoggedIn">
  <mat-card-subtitle>Please sign in to save/create playlist
    <a mat-button color="primary"
       (click)="showLoginDialog()"
       class="p-0">click
      here</a> to sign in
  </mat-card-subtitle>
</ng-container>
