<form [formGroup]="songsUpdateForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>Admin Tool</h1>
  <div mat-dialog-content>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a [href]="songDetails.song.songUrl" target="_blank">{{songDetails.song.songName}}</a>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">New Number : {{songDetails.song.newNumber}}</mat-list-item>
          <mat-list-item role="listitem">Old Number : {{songDetails.song.oldNumber}}</mat-list-item>
          <mat-list-item role="listitem">Ragam : {{songDetails.song.ragam}}</mat-list-item>
          <mat-list-item role="listitem">Thalam : <a [href]="songDetails.song.thalamUrl"
                                                     target="_blank">
            {{songDetails.song.thalam}}</a>
          </mat-list-item>
          <mat-list-item role="listitem">Tamil Meaning : <a [href]="songDetails.song.tamilMeaningUrl"
                                                            target="_blank">
            {{songDetails.song.tamilMeaning}}</a>
          </mat-list-item>
          <mat-list-item role="listitem">Meaning : {{songDetails.song.meaning}}</mat-list-item>
          <mat-list-item role="listitem">Classify1 : {{songDetails.song.classify1}}</mat-list-item>
          <mat-list-item role="listitem">Classify2 : {{songDetails.song.classify2}}</mat-list-item>
          <mat-list-item role="listitem">Classify3 : {{songDetails.song.classify3}}</mat-list-item>
        </mat-list>
        <hr/>
        <div class="row">
          <div class="col-md-12">
            <p>Update Thalam</p>
          </div>
          <div class="col-md-12">
            <mat-form-field class="w-100">
              <input matInput placeholder="Thalam" [errorStateMatcher]="matcher" formControlName="thalam">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="w-100">
              <input matInput placeholder="Thalam Link" [errorStateMatcher]="matcher" formControlName="thalamLink">
            </mat-form-field>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-12">
            <p>Update Tamil Meaning</p>
          </div>
          <div class="col-md-12">
            <mat-form-field class="w-100">
              <input matInput placeholder="Tamil Meaning" [errorStateMatcher]="matcher" formControlName="tamilMeaning">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="w-100">
              <input matInput placeholder="Tamil Meaning Link" [errorStateMatcher]="matcher"
                     formControlName="tamilMeaningLink">
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div mat-dialog-actions>
    <button type="button" mat-button (click)="onNoClick()">No Thanks</button>
    <button type="submit" mat-button>Update</button>
  </div>
</form>
