<div class="row overflow-auto">
  <div class="col-md-12">
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
          <app-download-table [table]="valliKalyanam"></app-download-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_1-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_2-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_3-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_4-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_5-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_6-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_7-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_8-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_9-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_10-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_11-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_12-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_13-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_14-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_15-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_16-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_17-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_18-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_19-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_20-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_21-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_22-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_23-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_24-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_25-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_26-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_27-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_28-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_29-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_30-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_31-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_32-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_33-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_34-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
    <mat-card class="valli-kalyanam-card">
      <mat-card-content>
        <img mat-card-image src="../../../../assets/valliKalyanam/valli%20kalyanam_35-min.jpg" class="w-100 m-auto"
             alt="about-guruji-img">
      </mat-card-content>
    </mat-card>
  </div>
</div>
