<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<mat-sidenav-container class="example-container" (backdropClick)="closeSideNav()">
  <mat-sidenav  #sidenav mode="over" opened class="example-sidenav"
               [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
               [fixedBottomGap]="options.value.bottom"  [(opened)]="isOpen" disableClose [autoFocus]="false">
    <app-nav-mweb></app-nav-mweb>
  </mat-sidenav>

  <mat-sidenav-content [formGroup]="options">
    <div class="container mb-3">
      <div class="row">
        <div class="col col-12 p-0">
          <app-header></app-header>
          <app-toaster></app-toaster>
        </div>
      </div>
      <div class="row m-auto  mt-md-5 mt-5">
        <div class="col col-12 p-0">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>




