<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Sign up</mat-card-title>
    <mat-card-subtitle>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-vertical-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>We would like to know your name</ng-template>
          <mat-form-field class="w-100">
            <input matInput placeholder="First name" formControlName="firstName" required
                   autocomplete="current-password"
            >
            <mat-error *ngIf="firstFormGroup.get('firstName').invalid">
              Please enter <strong>first name</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput placeholder="Last name" formControlName="lastName" required
                   autocomplete="current-password"
            >
            <mat-error *ngIf="firstFormGroup.get('lastName').invalid">
              Please enter <strong>last name</strong>
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Give your account an email & password</ng-template>
          <mat-form-field class="w-100">
            <input matInput placeholder="email" formControlName="email" required email
                   autocomplete="current-password"
            >
            <mat-error *ngIf="secondFormGroup.get('email').errors?.required">
              Please enter <strong>email</strong>
            </mat-error>
            <mat-error *ngIf="secondFormGroup.get('email').errors?.email">
              Please enter <strong>valid email</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput type="password" placeholder="password" formControlName="password" required
                   autocomplete="current-password"
            >
            <mat-error *ngIf="secondFormGroup.get('password').invalid">
              Please enter <strong>password</strong>
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Give your profile An Avatar</ng-template>
          <div class="avatar-upload m-auto">
            <div class="avatar-edit">
              <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg"
                     (change)="onAvatarChange($event,avatar,imagePreview)" class="hide" #avatar
                     formControlName="image" required
              />
              <label for="imageUpload">
                <mat-icon>attach_file</mat-icon>
              </label>
            </div>
            <div class="avatar-preview">
              <div id="imagePreview" style="background-image: url('http://i.pravatar.cc/500?img=7');" #imagePreview>
              </div>
            </div>
            <mat-card-subtitle *ngIf="thirdFormGroup.get('image').invalid" class="mat-card-subtitle text-center">
              Please give <strong>an avatar</strong>
            </mat-card-subtitle>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div>
          <button mat-button type="button" color="primary" (click)="onSubmit()">Sign Up</button>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>

</mat-card>
