<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar
         [ngStyle]="{'background-image': 'url('+(authState| async).user?.photoURL+')', backgroundSize: 'cover'}"></div>
    <mat-card-title>Hello, {{(authState | async).user.displayName}}</mat-card-title>
    <mat-card-subtitle>Please use the admin tools wisely!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Enter song Number</mat-label>
        <input type="number" [errorStateMatcher]="matcher" matInput placeholder="Enter number"
               formControlName="songNumber"
        >
        <mat-error *ngIf="adminForm.get('songNumber').invalid && adminForm.get('songNumber').errors?.required">
          Please enter <strong>song number</strong>
        </mat-error>
        <mat-error *ngIf="adminForm.get('songNumber').invalid && adminForm.get('songNumber').errors?.min">
          Please enter <strong>valid song number</strong> minimum is <strong>0</strong>
        </mat-error>
        <mat-error *ngIf="adminForm.get('songNumber').invalid && adminForm.get('songNumber').errors?.max">
          Please enter <strong>valid song number</strong> maximum is <strong>503</strong>
        </mat-error>
      </mat-form-field>
      <button type="submit" mat-button>Submit</button>
    </form>
  </mat-card-content>
</mat-card>
