<div class="row">
  <div class="col-12">
    <mat-card class="songs-with-script-card">
      <mat-card-header class="m-0">
        <app-songs-with-script-header></app-songs-with-script-header>
      </mat-card-header>
      <mat-progress-bar *ngIf="(welcomeState | async).songs?.length === 0" mode="indeterminate"></mat-progress-bar>
      <mat-card-content>
        <div class="h-600">
          <mat-tab-group [selectedIndex]="selectedTab" (selectedTabChange)="onTabChange($event)" [dynamicHeight]="true"
          >
            <mat-tab>
              <ng-template mat-tab-label>
                <span matBadge="{{(welcomeState | async).songs?.length}}" matBadgeOverlap="false">Songs</span>
              </ng-template>
              <ng-container *ngIf="(welcomeState | async).songs?.length > 0">
                <app-songs-table [songs]="(welcomeState | async).songs"></app-songs-table>
              </ng-container>
              <ng-container *ngIf="(welcomeState | async).songs?.length === 0">
                <div class="col-12 text-center">
                  <mat-card-subtitle>please wait</mat-card-subtitle>
                  <hr/>
                </div>
              </ng-container>
            </mat-tab>
            <mat-tab [disabled]="!(authState| async).isLoggedIn">
              <ng-template mat-tab-label>
            <span
              [matTooltip]="(authState| async).isLoggedIn ? '' :  'please login to continue'"
              matBadge="{{(authState | async).userLibrary?.playList?.length}}" class="" matBadgeColor="accent"
              matBadgeOverlap="false">Playlist</span>
              </ng-template>
              <app-playlist></app-playlist>
            </mat-tab>
            <mat-tab *ngIf="(authState| async).isLoggedIn && (authState|async).userLibrary?.isAdmin">
              <ng-template mat-tab-label>
                <span>Admin</span>
              </ng-template>
              <app-songs-admin-control></app-songs-admin-control>
            </mat-tab>
          </mat-tab-group>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card class="example-card">
      <mat-card-content>
        <div class="row">
          <div class="col-md-4 m-auto text-center">
            <img mat-card-image src="../../../../assets/otherPhotos/6-min.jpg"
                 class="w-75 guru-img"
                 alt="guruji-img">
          </div>
          <div class="col-md-8 m-auto">
            <p>All 503 songs have audio with script with ragas meanings in English and classified based on songs
              on
              vinayakar, guru, shivan, ramayana, ambal, bhagwatam, yaman, lotus feet, murugan & peruvazhvu. All
              these lists can be obtained by the click of a button.</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>



