<div class="row">
  <div class="col-md-12">
    <mat-card class="paddhathi-card m-1">
      <mat-card-header>
        <mat-card-title>Salient Features Of A Isai Vazhipadu</mat-card-title>
        <mat-card-subtitle>By Guruji Sri A.S.RAGHAVAN</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-8">
            <p>
              Bhaya Bhakti
            </p>
            <p>
              To get the restless mind to concentrate on Muruga and sing in his praise Remove selfishness and anger from the
              mind and be able to sing in praise. Everybody in the Bhajan should surrender at the feet of Muruga Remain
              physically and mentally in the Bhajan throughout.
            </p>
            <p>
              This paddhathi (set by our Guruji Sri AS Raghavan ) is being put up for all to follow.
            </p>
            <p>
              It is always good to refresh ourselves periodically, reminding ourselves about all the goodness in the old
              traditions, and continue to preserve them.
            </p>
            <p>
              The discipline, concentration, highly musical rendering and bhakthi-bhaava are the highlights of this
              paddhathi
              that has drawn people,young and the old alike, from all walks of life to join this movement over the last 60
              years.
            </p>
          </div>
          <div class="col-md-4 text-center">
            <img mat-card-image src="../../../../assets/otherPhotos/12-min.JPG"
                 class="guru-img w-75 m-auto"
                 alt="guruji-img">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card class="paddhathi-card m-1">
      <mat-card-header>
        <mat-card-title>The ‘Paddhathi’</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">1) Start with Om four times.</mat-list-item>
          <mat-list-item role="listitem">'2) Muruga Muruga’ thirty three times</mat-list-item>
          <mat-list-item role="listitem">3) Vinayakar sthuthi</mat-list-item>
          <mat-list-item role="listitem">4) Songs--Vinayakar - No; 1-4</mat-list-item>
          <mat-list-item role="listitem">5) Vinayakar Naamavali</mat-list-item>
          <mat-list-item role="listitem">6) Sidhi vinayaka Swamy ki jai
            <br/>
            Sadguru Arunagirinatha swami ki jai
            <br/>
            Thirupparangiri velanukku araharohara
          </mat-list-item>
          <mat-list-item role="listitem">7) Aruvamum – Virutham</mat-list-item>
          <mat-list-item role="listitem">8) Songs --Guru, Thirupparankundram –No: 5 to 10</mat-list-item>
          <mat-list-item role="listitem">9) Thirupparangiri Velanukku Araharohara
            <br/>
            Senthil Aandavanukku araharohara
          </mat-list-item>
          <mat-list-item role="listitem">10) Songs –Thiruchendur No: 11 to 56</mat-list-item>
          <mat-list-item role="listitem">11) Senthil aandavanukku araharohara
            <br/>
            Palani aandavanukku araharohara
          </mat-list-item>
          <mat-list-item role="listitem">12) Songs- Palani 57 to 92</mat-list-item>
          <mat-list-item role="listitem">13) Pazhani aandikku araharohara
            <br/>
            Swamimalai kumaranukku araharohara
          </mat-list-item>
          <mat-list-item role="listitem">14) Songs-Swami malai No: 93 to 113 and 502</mat-list-item>
          <mat-list-item role="listitem">15) Swamimalai kumaranukku,araharohara
            <br/>
            Thiruthanigai dheeranukku araharohara
            <br/>
            Kundruthoradum Kumaranukku Araharohara
          </mat-list-item>
          <mat-list-item role="listitem">16) Songs – Thiruthani No: 114 to 145</mat-list-item>
          <mat-list-item role="listitem">17) Kundruthoradal No: 146 to 203</mat-list-item>
          <mat-list-item role="listitem">18) Other Sthalam 204 to 322 and</mat-list-item>
          <mat-list-item role="listitem">19) Podu padalgal 422 to 493</mat-list-item>
          <mat-list-item role="listitem">20) Panchabootha sthalam No; 422 to 493</mat-list-item>
          <mat-list-item role="listitem">21) Kundruthoradal kumaranukku araharohara
            <br/>
            Solai malai kizhavanukku araharohara
          </mat-list-item>
          <mat-list-item role="listitem">22) Panchabootha sthalam No; 422 to 493</mat-list-item>
          <mat-list-item role="listitem">23) Kundruthoradal kumaranukku araharohara
            <br/>
            Solai malai kizhavanukku araharohara
          </mat-list-item>
          <mat-list-item role="listitem">24) Songs-- Pazhamudirsolai No: 494 to 501</mat-list-item>
          <mat-list-item role="listitem">25) Muruga Muruga – 16 times</mat-list-item>
          <mat-list-item role="listitem">26) Kandar Anubhoothi</mat-list-item>
          <mat-list-item role="listitem">27) Muruga muruga</mat-list-item>
          <mat-list-item role="listitem">28) Vetri Vel muruganukku araharohara</mat-list-item>
          <mat-list-item role="listitem">29) Vel Mayil Virutham</mat-list-item>
          <mat-list-item role="listitem">30) Thiruvaguppu</mat-list-item>
          <mat-list-item role="listitem">31) Poojai –Mathruka pushpa maala, Archana, Dhoopam, deepam, Naivedyam,
            Karpoora
            aarathi, Naadavindu kaladhi
          </mat-list-item>
          <mat-list-item role="listitem">32) Manthra pushpam</mat-list-item>
          <mat-list-item role="listitem">33) Mangala Aarthi- Erumayil Eri</mat-list-item>
          <mat-list-item role="listitem">34) Prarthanai</mat-list-item>
          <mat-list-item role="listitem">35) Vetrivel muruganukku araharohara
            <br/>
            Thiruparungiri dheeranukku araharohara
            <br/>
            Senthil aandavanukku araharohara
            <br/>
            Pazhaniaandikku araharohara
            <br/>
            Swami malai kumaranukku araharohara
            <br/>
            Thiruthanigaidheeranukku araharohara
            <br/>
            Solaimalai kizhavanukku araharohara
            <br/>
            Kundru thoraadum kumaranukku araharohara
            <br/>
            Bala dandayudha paanikku araharohar
            <br/>
            Viralimalai veeranukku araharohara
            <br/>
            Sikkal singara velanukku araharohara
            <br/>
            Vetrivel muruganukku araharohara
          </mat-list-item>
          <mat-list-item role="listitem">36) Muruga Muruga 33 times</mat-list-item>
          <mat-list-item role="listitem">37) Asatho maa sathgamaya</mat-list-item>
          <mat-list-item role="listitem">38) Hari Om Shanthi-3</mat-list-item>
          <mat-list-item role="listitem">39) Om Om Om</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>

