.carousel-img{
  max-width: 800px;max-height: 500px
}
.bg-custom-333{
  background-color: #333;
}
.bg-custom-grey{
  background-color: #fafafa;
}
.guruji-header-image {
  background-image: url("~src/assets/aboutGuruji/guru-min.webp");
  background-size: cover;
}
