<div class="container-fluid p-0">
  <div class="row m-auto">
    <mat-card class="example-card w-100">
      <div class="row">
        <div class="col-md-12">
          <app-photo-gallery></app-photo-gallery>
        </div>
      </div>
      <div class="row" #scroll id="scrollHere">
        <div class="col-md-12 p-4">
          <mat-card-header>
            <div mat-card-avatar class="guruji-header-image"></div>
            <mat-card-title>
              <app-title></app-title>
            </mat-card-title>
          </mat-card-header>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-card-content class="mat-typography">
            <router-outlet></router-outlet>
          </mat-card-content>
        </div>
      </div>
    </mat-card>
  </div>
</div>



