.guruji-img {
  max-width: 250px;
  max-height: 300px;
  display: block;
}

.banner-img {
  max-width: 735px;
}

.guruji-header-image {
  background-image: url("~src/assets/aboutGuruji/guru-min.webp");
  background-size: cover;
}

image {
  width: 100% !important;
  margin: auto !important;
}
.guru-img{
  min-width: 220px;
  min-height: 330px;
}

