<div class="row">
  <div class="col-md-12 m-auto">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Guruji Sri AS Raghavan</mat-card-title>
        <mat-card-subtitle>2001</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-4 m-auto text-center">
            <img mat-card-image src="../../../../assets/aboutGuruji/guru-min.webp" class=" w-25 guru-img " alt="about-guruji-img">
          </div>
          <div class="col-md-8">
            <p>Guruji <span>Sri AS Raghavan</span> has had a life of miracles. He was an extraordinary man, recognized
              by one
              and all as superhuman and as an evolved soul.</p>
            <p>Early in life he had the kataksham of Thirucchendur Murugan after which a polio afflicted crippled child
              started
              walking overnight.</p>
            <p>Kanchi Maha periyavaa has blessed him several times. During the Arunigirinathar stamp release function,
              there
              were several hurdles.From Kanchipuram a person landed up with prasadam and assuring message from maha
              periyavaa
              that all will be well.It was sheer divine grace that the function went off without any glitches.</p>

            <p>Sringeri periyavas personally blessed and conducted Guruji&#39;s sashtiabdapoorthy function in the mutt
              under
              his
              supervision.He has said Raghavan is not an ordinary soul. He is a madaathipathi.</p>

            <p>Jayendra saraswati Swami from Kanchi Mutt conferred the title of &#39;Thiruppugazh Isai
              Chakravarthi&#39;.</p>

            <p>Ki Vaa Ja had high regards for Guruji and always mentioned his name in his speeches.</p>

            <p>Various Swamijis like Chidananda, Dayananda Saraswati, Senthil Thuravi, Saadhuram and several others had
              shown
              their admiration considering him &#39;an evolved extraordinary soul&#39; Sri R Venkatraman,the then
              President of
              India, had invited Guruji to the residence several times for his bhajans.</p>

            <p> Srimathi DK Pattamal - &#39;you can become a millionare overnight if you commercialise
              Thiruppugazh.&#39;</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr color="accent"/>
<div class="row">
  <div class="col-md-7 m-auto">
    <mat-card class="example-card">
      <mat-card-content>
        <p> His wife and children feel all the music and setting to ragam and thaalam happened only with divine will
          as
          they
          have never seen him practicing or singing.</p>
        <p>There have been thousands of disciples and many of them followed his music pattern, and way of life ,
          teachings
          to the last letter. These staunch disciples have taken the movement far and wide and in a span of 60 years
          taken
          it the world over.</p>
        <p> Technology and the great efforts of some have made the 505 songs,vel mayil seval
          viruthams,vaguppus,Abhirami
          Andadi and Padikam set to Ragam and thaalam, saved for the generations to come.</p>
        <p>His method of teaching and ability to bring out the best even in the new comers and the un initiated has
          attracted several.His ability to pour in the bhakthi bhaava, breaking up the words in the right places ,
          so that
          the thaalam just falls in the right place effectively. He created music of very high quality and bhakthi
          bhaava
          of
          the highest order that even the best student would reproduce only 50 %. Even that would be a great
          achievement.</p>
        <p>His method of teaching and ability to bring out the best even in the new comers and the un initiated has
          attracted several.His ability to pour in the bhakthi bhaava, breaking up the words in the right places ,
          so that
          the thaalam just falls in the right place effectively. He created music of very high quality and bhakthi
          bhaava
          of
          the highest order that even the best student would reproduce only 50 %. Even that would be a great
          achievement.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-5">
    <mat-card class="example-card">
      <mat-card-header>
      </mat-card-header>
      <img mat-card-image src="../../../../assets/aboutGuruji/guru-1-min.webp" alt="about-guruji-img">
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12 m-auto">
    <mat-card class="example-card">
      <mat-card-content>
        <p>His method of teaching and ability to bring out the best even in the new comers and the un initiated has
          attracted several.His ability to pour in the bhakthi bhaava, breaking up the words in the right places ,
          so that
          the thaalam just falls in the right place effectively. He created music of very high quality and bhakthi
          bhaava
          of
          the highest order that even the best student would reproduce only 50 %. Even that would be a great
          achievement.</p>
        <p>Thousands of young and old are spending their time usefully learning and teaching THIRUPPUGAZH without
          whiling
          away their time.</p>
        <p>This movement has appealed to the masses - irrespective of Tamil, Telugu, Malayalam or Kannada origin –
          because
          of the high quality of music ,devotion and bhakthi bhaava.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
      </mat-card-header>
      <img mat-card-image src="../../../../assets/aboutGuruji/about-guruji-info-1-min.webp" class="w-100 m-auto"
           alt="about-guruji-img">
    </mat-card>
    <mat-card>
      <mat-card-header>
      </mat-card-header>
      <img mat-card-image src="../../../../assets/aboutGuruji/about-guruji-info-2-min.webp" class="w-100 m-auto"
           alt="about-guruji-img">
    </mat-card>
    <mat-card>
      <mat-card-header>
      </mat-card-header>
      <img mat-card-image src="../../../../assets/aboutGuruji/about-guruji-info-3-min.webp" class="w-100 m-auto"
           alt="about-guruji-img">
    </mat-card>
    <mat-card>
      <mat-card-header>
      </mat-card-header>
      <img mat-card-image src="../../../../assets/aboutGuruji/about-guruji-info-4-min.webp" class="w-100 m-auto"
           alt="about-guruji-img">
    </mat-card>
    <mat-card>
      <mat-card-header>
      </mat-card-header>
      <img mat-card-image src="../../../../assets/aboutGuruji/about-guruj-info-5-min.webp" class="w-100 m-auto"
           alt="about-guruji-img">
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-12 m-auto">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Experiences of Sri N Subramanian & Smt Saraswati</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-5">
            <img mat-card-image src="../../../../assets/aboutGuruji/about-guruji-3-min.webp" alt="about-guruji-img"
                 class="w-100 m-auto">
          </div>
          <div class="col-md-7">
            <p>Our first association with Guruji was in 1965 when we attended a bhajan in Kaka nagar, Delhi. Before
              this
              we
              were
              not very keen on this form of devotion, being a Ramakrishna devotee where silent meditation and
              peaceful
              atmosphere is what was stressed and practiced. After attending one bhajan and seeing the way Guruji
              took
              all
              those
              present there to another world, we were mesmerized. This was our turning point.</p>
            <p>We had the first bhajan in our house in Dec 1966 in RK Puram,&nbsp;&nbsp;Delhi. There was no looking
              back
              since
              then. We tried not to miss any bhajan in Delhi and took active part in organizing several
              functions. </p>
            <p>Classes started later and we gradually went deeper into this movement. What appealed most was his
              simplicity,
              discipline, eye for every detail and the abject surrender to Lord Muruga.</p>
            <p>We have seen him go through difficult times – handling them with composure. In 1983 for the sixth
              centenary
              function Guruji used to come to our residence every single day, to plan and execute all aspects of the
              activity.</p>
            <p>We moved to Chennai in 1983 and had the ‘bhagyam’ of hosting Guruji on several occasions. Following
              Guruji’s
              principles and pursuing perfection has been our continued efforts since then./
            <p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card class="example-card">
      <mat-card-content>
        <div class="row">
          <div class="col-md-7">
            <p>We have had several well wishers in
              this journey which has helped expand the Thiruppugazh family.</p>
            <p>We moved to Hyderabad in 2000 and have continued our efforts to spread this movement. Guruji and mami
              have
              always
              been our strength and constant inspiration. They have visited Hyderabad several times and stayed at my
              daughters
              residence on several occasions and helped us establish this movement in the twin cities.</p>
            <p>This movement has helped several senior citizens, like us, to spend our ‘golden years’ fruitfully with
              great
              enthusiasm. Thanks to Guruji’s initiation and constant encouragement.</p>
          </div>
          <div class="col-md-5">
            <img mat-card-image src="../../../../assets/aboutGuruji/about-guruji-4-min.webp"
                 alt="about-guruji-image" class="w-100 m-auto">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Experiences Of Sri N Ramamurthi with Guruji</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-5">
                <img mat-card-image src="../../../../assets/aboutGuruji/about-guruji-5-min.webp" alt="About-guruji-image"
                     class="m-auto w-100">
              </div>
              <div class="col-md-7">
                <p>டெல்லி அன்பர் என் .ராமமூர்த்தி அவர்கள்சொல்லவொண்ணா தன்னுடைய நினைவலைகளை தன் கை வண்ணத்தில் முத்து
                  முத்தாக
                  எழுதி
                  தற்போது அன்பர்களுடன் பகிர்ந்து கொள்கிறார்.</p>

                <p>அதில்,குருஜி செந்திலாண்டவன் உத்திரவின் படி,உணர்த்திய படி பாடல்கள் அமைந்தது,வகுப்பு வழிபாடு
                  அனுபவங்கள்,காரில்
                  செல்லும் போதே பாடல்கள் அமைத்தது,பத உச்சரிப்பு,எப்படி பத அர்த்தங்களுக்கு ஏற்ப ஏற்றி இறக்கி பாடுவது,தாள
                  நுணுக்கங்கள்,நிர்வாகத்தில்</p>

                <p> கணக்கு வழக்கு,நிதானம்,பொறுமை,சங்கீதம் அறியாத அன்பர்களை ராகங்களுடன் பாட
                  வைத்தது,மாணவர்களை ஆசானாக்கியது,குருஜி அஷ்டாங்க யோகம்,சமாதி நிலை ,அதற்கு மேற்பட்ட நிர்விகல்ப
                  சமாதிநிலை,ஸ்ரீ
                  வித்யா
                  தத்வம்,அத்வைத தத்வம் முதலியவற்றை உட்கொண்டது ,மற்றும்" திருப்புகழ் வழிபாடுகளில் பாடுபவர்கள்
                  வேறு,கேட்பவர்கள்வேறு
                  என்று கிடையாது எல்லோரும் பாடுபர்கள் தான் எல்லோரும் கேட்பவர்கள்" என்ற உயர் தத்துவத்தை கடை
                  பிடித்தது.அன்பர்களுக்கு
                  உணர்த்தியது
                  போன்ற அருமையான குருஜியின் மகிமைகள் வெளிப்படுகின்றன.
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-12">
            <p> கணக்கு வழக்கு,நிதானம்,பொறுமை,சங்கீதம் அறியாத அன்பர்களை ராகங்களுடன் பாட
              வைத்தது,மாணவர்களை ஆசானாக்கியது,குருஜி அஷ்டாங்க யோகம்,சமாதி நிலை ,அதற்கு மேற்பட்ட நிர்விகல்ப
              சமாதிநிலை,ஸ்ரீ
              வித்யா
              தத்வம்,அத்வைத தத்வம் முதலியவற்றை உட்கொண்டது ,மற்றும்" திருப்புகழ் வழிபாடுகளில் பாடுபவர்கள்
              வேறு,கேட்பவர்கள்வேறு
              என்று கிடையாது எல்லோரும் பாடுபர்கள் தான் எல்லோரும் கேட்பவர்கள்" என்ற உயர் தத்துவத்தை கடை
              பிடித்தது.அன்பர்களுக்கு
              உணர்த்தியது
              போன்ற அருமையான குருஜியின் மகிமைகள் வெளிப்படுகின்றன.
            </p>
            <p>சிகரம் வைத்தாற்போல் அன்பர்களுக்கு வழிபாடு நிறைந்தவுடன் விபூதி பிரசாதம் கொடுப்பதை பற்றி, "தான்
              வழங்கும்
              விபூதி
              பிரசாதத்துக்கு கொஞ்சமாவது பலன் இருக்கணும்னா தன்னை தகுதி படுத்திக்கொள்ள "அண்ண ஆகாரம் தீர்த்தம்
              அருந்தாமல்
              வழிபாடு
              நேரம் முழுவதும் விரதம் கடைபிடித்து சுய கட்டுப்பாடுகளை தமக்கு தானே விதித்து பின்பற்றியது.
              .இதைப்படிக்கும்
              போது
              நெஞ்ச நெகிழ்கிறது.</p>
            <p>இறுதியாக .".It is too early to assess to Guruji;s contribution.Generation to come are going to be
              benifitted
              from
              his cassets .After several years only we will be able to assess his contribution to the Thiruppugazh
              Movements"
              என்று நிறைவு செய்கிறார்.( நிதர்சனமான சத்யம்)</p>

          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!--<div class="row">-->
<!--&lt;!&ndash;<div class="col-md-12 m-auto">&ndash;&gt;-->
<!--&lt;!&ndash;<mat-card class="example-card">&ndash;&gt;-->
<!--&lt;!&ndash;<mat-card-content>&ndash;&gt;-->

<!--&lt;!&ndash;</mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;</mat-card>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-md-12">&ndash;&gt;-->
<!--&lt;!&ndash;<mat-card class="example-card">&ndash;&gt;-->
<!--&lt;!&ndash;<mat-card-header>&ndash;&gt;-->
<!--&lt;!&ndash;<mat-card-title>Some title...</mat-card-title>&ndash;&gt;-->
<!--&lt;!&ndash;</mat-card-header>&ndash;&gt;-->
<!--&lt;!&ndash;<img mat-card-image src="../../../../assets/aboutGuruji/about-guruji-6-min.JPG" alt="About-guruji-image">&ndash;&gt;-->
<!--&lt;!&ndash;<mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;<p>&ndash;&gt;-->
<!--&lt;!&ndash;Some data...&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;</mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;</mat-card>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
      </mat-card-header>
      <img mat-card-image src="../../../../assets/aboutGuruji/ramu/ramu_1-min.webp" class="w-100 m-auto"
           alt="about-guruji-img">
    </mat-card>

    <mat-card>
      <mat-card-header>
      </mat-card-header>
      <img mat-card-image src="../../../../assets/aboutGuruji/ramu/ramu_2-min.webp" class="w-100 m-auto"
           alt="about-guruji-img">
    </mat-card>

    <mat-card>
      <mat-card-header>
      </mat-card-header>
      <img mat-card-image src="../../../../assets/aboutGuruji/ramu/ramu_3-min.webp" class="w-100 m-auto"
           alt="about-guruji-img">
    </mat-card>

    <mat-card>
      <mat-card-header>
      </mat-card-header>
      <img mat-card-image src="../../../../assets/aboutGuruji/ramu/ramu_4-min.webp" class="w-100 m-auto"
           alt="about-guruji-img">
    </mat-card>


    <mat-card>
      <mat-card-header>
      </mat-card-header>
      <img mat-card-image src="../../../../assets/aboutGuruji/ramu/ramu_5-min.webp" class="w-100 m-auto"
           alt="about-guruji-img">
    </mat-card>

    <mat-card>
      <mat-card-header>
      </mat-card-header>
      <img mat-card-image src="../../../../assets/aboutGuruji/ramu/ramu_6-min.webp" class="w-100 m-auto"
           alt="about-guruji-img">
    </mat-card>

    <mat-card>
      <mat-card-header>
      </mat-card-header>
      <img mat-card-image src="../../../../assets/aboutGuruji/ramu/ramu_7-min.webp" class="w-100 m-auto"
           alt="about-guruji-img">
    </mat-card>

    <mat-card>
      <mat-card-header>
      </mat-card-header>
      <img mat-card-image src="../../../../assets/aboutGuruji/ramu/ramu_8-min.webp" class="w-100 m-auto"
           alt="about-guruji-img">
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">


    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>இலண்டன் சென்றோம்</mat-card-title>
        <mat-card-subtitle>(ஒரு பயணக்கட்டுரை)</mat-card-subtitle>
        <mat-card-subtitle>ஜிக்க</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-4">
            <img mat-card-image src="../../../../assets/aboutGuruji/about-guruji-7-min.webp" class="w-100 m-auto"
                 alt="about-guruji-img">
          </div>
          <div class="col-md-8">
            <p>'நம் குருஜி அவர்கள் வெளிநாடுகளில் திருப்புகழைப் பரப்புவதற்கு
              மேற்கொண்ட முதல் வெளிநாட்டுப் பயணம்
              1980ஆம் வருடம் செப்டம்பர் மாதத்தில் அவரது லண்டன் விஜயமேயாகும். அந்தப் பயணத்தின் பூரா விவரங்களும்,
              அப்பொழுது
              குருஜி
              அவர்கள் விசேஷமாக எடுத்துக்கொண்ட முயற்சிகள், அவைகளுக்கு கிடைத்த வரவேற்பு பற் றிய விவரங்களும்
              குருஜியுடன்
              சென்ற அவரது முன்வரிசை
              சீடர்களில் ஒருவரான ஜி. கிருஷ்ணன்(திருப்பு கழ். அன்பர்கள் எல்லோராலும்
              'ஜிக்கி' என்று அழைக்கப்‌ படுபவர்) எழுதியுள்ள ',இலண்டன் சென்றோம்' என்ற பயணக் கட்டுரை இத்துடன் இணைக்கப்
              பட்டிருக்கிறது.
              படித்து மகிழுங்கள்.
              இதற்குப்‌ பிற்பாடு குருஜி அவர்கள் அமெரிக்கா, கானடா நாடுகளுக்கும் விஜயம்‌ செய்தார்கள்.</p>
            <p>1980-ஆம் வருடம் செப்டம்பர் ஆறாம் தேதி திருப்புகழ் அன்பர்களின் நாட் குறிப்பில் முக்கியமான ஓர்
              நாளாகும்.</p>
            <p> அன்றுதான்
              திருப்புகழ் அன்பர்களின் பேரன்பிற்கும் , மதிப்பிற்குமுரிய “குருஜி” அவர்கள், இலண்டன் வாழ் சிங்கள ,இந்தியத்
              தமிழர்களுக்கும் மற்றும் அங்குள்ளத் தமிழன்பர்களுக்கும் சற்குரு அருணகிரிநாதரைப்பற்றியும்,</p>

            <p> ஆண்டவன் அருள் பெற்று
              ஆண்டவனே அடியெடுத்துக் கொடுத்து அவரைப்பாட வைத்ததின் பயனாக இவ்வுலகமுய்ய நமக்கெல்லாம் கிடைத்துள்ள விலை
              மதிப்பற்ற
              பொக்கிஷமான திருப்புகழ், கந்தரலங்காரம், கந்தரநுபூதி, கந்தரந்தாதி, திருவகுப்புகள் முதலிய நூல்களிலுள்ள
              கருத்துக்களையும் தத்துவங்களையும் எடுத்துச் சொல்ல, இலண்டனில் இயங்கி வரும் ஸ்ரீ கணபதி டிரஸ்டின்
              அழைப்பிற்கிணங்க,
              இலண்டனுக்குப் பயணமானார். ‘குருஜி’ அவர்கள் முதன் முதலில் மேற்கொண்ட வெளி நாட்டுப்பயணம் இதுவேதான். நானும்
              உடன்
              சென்றேன்.
            </p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>6-9-80 : - சனிக்கிழமை</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-7">
            <p>காலை ஏழுமணி முதலே டில்லி வாழ் திருப்புகழ் அன்பர்கள் ‘பாலம்‘ ஆகாய விமானக் கூடத்தில் குழுமியிருந்தனர்,
              குருஜி
              அவர்கள் ஏழரை மணியளவில்வந்து சேர்ந்தார். குமாரி உஷாவும், திரு குருமூர்த்தியும் நாங்கள் கடைபிடிக்க வேண்டிய
              அரசாங்கவிதிகளின் படியான காரியங்களைக் கவனித்துக்கொள்ள, நாங்கள் எங்களை வழியனுப்ப வந்திருந்த அன்பர்களுடன்
              சிறிது
              நேரம் அளவளாவிக்கொண்டிருந்து விட்டு பிரியா விடை பெற்றுக்கொண்டு எங்கள் பயணத்தைத் தொடங்கச் சென்றோம். </p>
            <p> சரியாக காலை ஒன்பது மணிக்கு எங்களை ஏற்றிச்செல்லவிருந்த “ஏரோ ப்ளோட்” (AEROFLOT) என்ற விமானம் ‘பாலம்’ ஆகாய
              விமானக்
              கூடத்தினின்றும் (Palam Airport) வானோக்கி எழுந்தது.</p>
            <p> விமானம் மேலே செல்லச் செல்ல கீழே இருக்கும் பெரிய கட்டடங்களும்
              மற்றும் மலைகள் போன்ற பெரிய உருவுள்ளவைகளும் உருவத்தில் சிறிதாகிக் கொண்டே வருவன போல் தோன்றின. மிக உயரத்தில்
              விமானம்
              பறந்து சென்றுகொண்டிருந்த சமயத்தில் கீழேயிருந்த பொருட்கள் மிகச் சிறியனவாகத் தோன்றினாலும் வெள்ளிப் பனிச்
              சிகரங்களைக்
              கொண்ட மலைத் தொடர்களைத் தெளிவாகக் </p>
          </div>
          <div class="col-md-5">
            <img mat-card-image src="../../../../assets/aboutGuruji/about-guruji-8-min.webp" class="w-100 m-auto"
                 alt="about-guruji-img">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card class="example-card">
      <mat-card-content>
        <p> காண முடிந்தது. இரண்டு மணி நேரப் பயணத்திற்குப்பின் “தாஷ்கண்ட்” (Tashkent) என்ற இடத்தில் விமானம்
          இறங்கியது.
          தாஷ்கண்டில் இரண்டு மணி நேரங்கள் தங்கிவிட்டு மாஸ்கோவிற்கு எங்கள் பயணத்தைத் தொடங்கினோம். நான்கு மணி நேரம்
          பறந்த
          பிறகு விமானம் எங்களை ‘மாஸ்கோ’வில் இறக்கிற்று, அப்போது மாஸ்கோ நேரப்படி மணி நான்கு இருக்கலாம்.
          மாஸ்கோவில் நான்கு மணி நேரங்கள் தங்கிவிட்டு, மற்றொரு விமானத்தில் இலண்டனுக்குப் புறப்பட்டோம். மாஸ்கோ விமான
          கூடத்தில்
          கழித்த நான்கு மணி நேரங்களில் குருஜி அவர்கள் திரு T.M. சுப்பிரமணியம் அவர்கள் கொடுத்திருந்த டாக்டர்
          சுவாமிநாதன்
          அவர்களாற்றிய உரைகளிலிருந்து பொறுக்கியெடுத்த சில உரைகளைப் படித்து முடித்தார்.
        </p>
        <p>மாஸ்கோவிலிருந்து இலண்டன் வரும்வரை எங்கள் விமானப் பயணம் மனதிற்கு நிறைவு தருவதாக அமைந்தது. கிட்டத்தட்ட
          10000
          மீட்டருக்கு மேல் விண்வெளியில் பறந்துகொண்டிருந்த விமானத்தினின்றும் கீழே நோக்கும் போது திருப்பாற்கடலில்
          மிதந்து
          கொண்டு செல்வது போன்ற பிரமை ஏற்பட்டது.கீழே வெண்ணிற மேகக் கூட்டங்கள், பூமியே தெரியாமல் மூடிக் கொண்டிருந்தன.
          காற்றில்
          மேகக் கூட்டங்கள் அலை அலையாக அசைந்து கொண்டிருந்தன. இக்காட்சி திரை கடலாகத் தோற்றமளித்தது. வெண்வெளியிலோ
          ஓரிடத்தில்
          கதிரவனின் செங்கதிர்கள் படுவதின் காரணமாக வானம் செவ்வானமாகத் தெரிந்தது. காட்சி இனிமையாக இருக்கவே, கற்பனை
          ஓடியது.
          அந்த செவ்வானத்தின் அழகில் செவ்வானுருவில் திகழ் வேலவன் தெரிந்தான். கீழே வெண்ணிற மேகத்தில் வள்ளியம்மையின்
          நிலவென
          வந்த தூய வெண் முறுவலையும், செவ்வானில் முருகன் திருவுருவையும் கண்டு மகிழ்ந்தோம். பிரயாணத்தின் அலுப்பே
          தெரியவில்லை.
          விமானம் கீழே இறங்குவதற்காக மேக மண்டலத்தைக் கிழித்துக் கொண்டு பறந்த பொழுது , மண்ணுக்கும், விண்ணுக்கும்
          இடையில்
          நாங்கள் எங்கோ போய்க்கொண்டிருப்பது போல் தோன்றியது. வெளியுலகைப் பார்க்க இயலாதபடி அடர்த்தியான மேக மண்டலங்கள்
          பார்வையை
          மறைத்தன. மேக மண்டலத்தைக் கிழித்துக் கொண்டு கீழேயிறங்கி விமானம் இலண்டன் மாநகருக்கு மேல் பறந்தது. இரவு
          நேரமாகிவிட்டதால் எங்கு பார்த்தாலும் ஒரே ஒளி மயம். விளக்குகள் சர விளக்குகளென தோற்றமளித்தன. நினைவுக்கு
          வந்தது
          கார்த்திகை தீபமும், லக்ஷ தீபமும், வட நாட்டில் கொண்டாடும் தீபாவளித் திருநாளும்தான். பல வர்ண விளக்குகளுடன்
          இலண்டன்
          மாநகரம் பொலிவுற்று விளங்கியது. இலண்டன் நேரப்படி இரவு எட்டரை மணிக்கு </p>
        <p>விமானம் புகழ் பெற்ற “ஹீத்ரோ” (Heathrow) ஆகாய விமானக் கூடத்தில் இறங்கியது. இலண்டன் ஆகாய விமானக் கூடத்தில்
          அரசாங்க
          அதிகாரிகளின் பல கேள்விகளுக்குப் பதிலளித்து எங்களுடைய பாஸ்போர்ட்டில் அவர்களுடைய கையொப்பங்களைப்
          பெற்றுக்கொண்டு
          வெளியில் வந்தோம். எங்களை முகமன் கூறி வரவேற்க திரு. என்.வி. ராமன், திரு. சதாசிவம், திரு. வெங்கட்டராமன்
          மற்றும்
          ஸ்ரீ
          கணபதி டிரஸ்டைச் சேர்ந்த திரு. எம். டி. ராஜா, திரு. கந்தய்யா, திரு. கனகசபை முதலானோர் வந்திருந்தனர். திரு.
          எஸ்.வி.
          ராமன் தில்லியில் லக்ஷ்மிபாய் நகரில் இருக்கும் நமது அன்பர் திரு. என். சுப்பிரமணியன், கரோல்பாக்கில்
          இருக்கும்
          திரு.
          என். ராமமூர்த்தி ஆகியோரின் தமையனார் திரு. ராமன், திரு. சதாசிவம், திரு .வெங்கட்டராமன் மூவருமே இலண்டனில்
          இருக்கும்
          இந்திய ஹைகமிஷனில் பணிபுரிபவர்கள். ஒருவருக்கொருவர் அறிமுகம் செய்து கொண்டபின் திரு. ராமன், திரு.
          வெங்கட்டராமன்
          இவ்விருவர்களைத் தவிர, மற்றவர்கள் எல்லோரும் திரு. சதாசிவத்தின் இல்லம் அடைந்தோம். திருமதி சதாசிவமும், அவரது
          குழந்தைகளும் ஆசை முகம் காட்டி எங்களை ஆவலுடன் வரவேற்றனர். சிறிது நேரம் எங்களது நிகழ்ச்சி நிரலைப்பற்றிப்
          பேசிக்கொண்டிருந்தோம் . </p>
        <p> இந்த சமயத்தில் தான் அந்த அதிசயம் நிகழ்ந்தது. நாங்கள் யாதொரு தடங்கலுமின்றி இலண்டன் வந்து சேர்ந்ததால்
          தனக்கேற்பட்ட
          மன மகிழ்ச்சியைத் தெரிவிக்கவும் சுஸ்வரங்களுடன் காரியங்கள் தொடங்கப்படவேண்டுமென்ற எண்ணத்திலும் வந்தவர்களுக்கு
          இனிமை
          தரும் வகையில் இனிய சங்கீத நாதம் கேட்க வேண்டுமென்ற அவாவிலும் திரு. சதாசிவம் தன்னுடைய இசைத்தட்டுக் கருவியை
          (Record
          player) இயக்கினார். எழுந்தது சங்கீதம் “கம் கணபதே நமோ நம” என்ற பாடலுடன். இதே சமயத்தில் குருஜி அவர்கள்
          டிரஸ்டைச்
          சேர்ந்தவர்களுக்கு அவர்களுக்கென தில்லியிலிருந்து தயாரித்துக் கொண்டு சென்றிருந்த புத்தகத்தைப் பற்றிச் சொல்லி
          அவர்களிடம் புத்தகத்தின் பிரதி ஒன்றைக் கொடுத்துக் கொண்டிருந்தார். புத்தகத்தின் முகப்பு அட்டையில்
          எழுதியிருந்த
          முதலடி “ஓம் கம் கணபதயே நம:” என்பது . ஒலித் தட்டிலிருந்து எழுந்த பாட்டும் “கம் கணபதே நமோ நம” புத்தகத்தின்
          முதலடியும் “கம் கணபதே நமோ நம”. இதைச் சுட்டிக் காட்டி “நாம் அறிந்துகொள்வதற்கு அரிதானபடி அன்றாடம் இறைவன்
          நடத்தும்
          திருவிளையாடல்களில் இதுவும் ஒன்றன்றோ!” என்றார். தெய்வாதீனமாக நடந்த இந்த நிகழ்ச்சி எங்கள் நெஞ்சங்களை </p>
        <p>நெகிழ்த்தியது. நினைத்து நினைத்து வியந்தோம். உடல் புல்லரித்தது. இதுவும் அதிசயமன்றோ!</p>
        <p>டிரஸ்டைச் சேர்ந்தவர்கள் விடை பெற்றுச் சென்ற பிறகு, திருமதி சதாசிவம் தயாரித்துக் கொடுத்த சூடான தோசைகளைச்
          சாப்பிட்டுக் கொண்டே திரு. சதாசிவத்தின் குடும்பத்தினருடன் பேசிக் கொண்டிருந்தோம். ஆகாய விமானத்தில்
          ரொட்டியும், வேக
          வைத்த காய்கறிகளும் மட்டுமே சாப்பிட்ட எங்களுக்கு திருமதி சதாசிவம் தயாரித்துத் தந்த தோசைகள் எங்கள் பசியை
          ஆற்றியதுடன், மீண்டும் ஒருமுறை எங்களை தாய் நாடு கொண்டு சென்றது. எங்களுக்குப் பல மைல்களுக்கு அப்பால்
          இலண்டனில்
          இருப்பதாகவே தோன்றவில்லை. பிறகு ஓய்வு எடுத்துக் கொள்ளச் சென்றோம் . </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>7-9-80 : - ஞாயிற்றுக்கிழமை</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>பிற்பகல் திரு. கனகசபை அவர்கள் எங்களுக்கு இலண்டன் நகரத்திலுள்ள முக்கிய இடங்களைக் காண்பிப்பதற்காக தனது
          காரில்
          கொண்டு செல்ல வந்தார். அவருடன் நகர் சுற்றிவரப் புரப்பட்டோம். திரு. கனகசபை அவர்களுக்கு சங்கீதத்தில் பிரியம்
          போலும்!
          காரில் செல்லும்போதே கேட்டு அநுபவிப்பதற்குச் சில சிறந்த பாடகர்கள் பாடியுள்ள நாடாக்களில் (tapes) பதிவு
          செய்யப்பட்டுள்ள பாடல்களை உடன் எடுத்து வந்திருந்தார். வழி முழுவதும் பக்திப் பாடல்களையும் மற்றும் கச்சேரிப்
          பாட்டுக்களையும் கேட்டு மகிழ்ந்து கொண்டு பல இடங்களையும் கண்டோம். எல்லா இடங்களைப் பற்றியும் திரு. கனகசபை
          அவர்கள்
          எங்களுக்கு விவரமாகச் சொல்லிக் கொண்டு வந்தார். “ஹைட் பார்க்” (Hyde Park) என்ற இடத்தில் ஸ்பீக்கர்ஸ் கார்னர்
          (Speakers’ corner) என்றொரு மூலை இருக்கிறது. இங்கு நின்று யார் வேண்டுமனாலும் , யாரைப்பற்றியும், எந்தமாதிரி
          வேண்டுமானாலும் பேசலாமாம். இங்கிலாந்து தேசத்து இராணியைப் பற்றி மட்டும் பேசக்கூடாதாம். பேசினால் கம்பி எண்ண
          வேண்டியதுதானாம். ஆனால் ஒன்று, கேட்டுக் கொண்டிருப்பவர் கேட்கும் கேள்விகளுக்குப் பதிலளிக்கவும் தயாராக இருக்க
          வேண்டுமாம். </p>
        <p>திடீரென்று இப்பொழுது நான் உங்களுக்கு உங்கள் மெய்ச் சிலிர்க்கும்படியாக ஓர் அநுபவம் அளிக்கப் போகிறேன்.
          தரையின்
          மேல்
          மட்டத்திலிருந்து கீழே சுமார் 400 மீட்டர் தூரத்திற்கு உங்களை என் காரிலேயே கொண்டு செல்லப் போகிறேன். அங்கே
          கிட்டத்தட்ட 100 மைல்கள் வரை காரிலேயே பிரயாணம் செய்யும்படியாகச் சாலை போடப்பட்டிருக்கிறது என்றார் திரு.
          கனகசபை.
          கார்
          ‘வராகவதாரம்’ எடுக்கப்போகிறது என்று எதிர்பார்த்துக் கொண்டிருந்த எங்களுக்கு ஏமாற்றம்தான் ஏற்பட்டது. எந்த
          இடத்தில்
          பூமிக்குள் செல்லும் பாதை ஆரம்பமாகிறதோ அங்கு சாலை செப்பனிட வேலைகள் நடந்து கொண்டிருந்ததால் சாலை
          மூடப்பட்டுவிட்டது.
          இன்னும் சில மாதங்களுக்கு நிலைமை சீராகாது என்ற விபரம் தெரிந்ததும் மேல் மட்டத்திலேயே எப்பொழுதும்
          இருப்பதுதான்
          நல்லது
          என்று தேற்றிக்கொண்டோம் . </p>
        <p>பல இடங்களைப் பார்த்துவிட்டு “ஹரே கிருஷ்ணா” இயக்கத்தினரின் கோவிலுக்குச் சென்றோம். நாங்கள் சென்ற நேரம்
          ஹாரத்தி
          நேரமாக இருந்ததால் பூஜைகளும், ஹரே கிருஷ்ணா, ஹரே ராமா கோஷங்களும் பகவன் நாமத்தைக் கூறிக்கொண்டே கூத்தாடும்
          பக்த
          கோடிகளின் கூட்டங்களும் கோவிலை ஒரு சொர்க்கலோகமாக மாற்றிக்கொண்டிருந்தன. அடே அப்பா! அந்த ஆனந்தக் கூத்து சில
          சமயங்களில் ஊர்த்துவ தாண்டவத்தை நினைவூட்டுவதாக இருந்தது. அவர்கள் குதிக்கும் குதி மேல் தளத்தை முட்டுவதாக
          இருந்தது.
          நம் ஊர் திவ்ய நாம பஜனையை ஞாபகப்படுத்தியது.
          இவ்வாறு ஏழாம் தேதி நகர் ஊர்வலத்தை முடித்துக் கொண்டு வீடு திரும்பினோம்.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>7-9-80 : - ஞாயிற்றுக்கிழம</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div class="row">
          <div class="col-md-5">
            <img mat-card-image src="../../../../assets/aboutGuruji/about-guruji-9-min.webp" class="w-100 m-auto"
                 alt="about-guruji-img">
          </div>
          <div class="col-md-7">
            <p>பிற்பகல் திரு. கனகசபை அவர்கள் எங்களுக்கு இலண்டன் நகரத்திலுள்ள முக்கிய இடங்களைக் காண்பிப்பதற்காக தனது
              காரில்
              கொண்டு செல்ல வந்தார். அவருடன் நகர் சுற்றிவரப் புரப்பட்டோம். திரு. கனகசபை அவர்களுக்கு சங்கீதத்தில் பிரியம்
              போலும்!
              காரில் செல்லும்போதே கேட்டு அநுபவிப்பதற்குச் சில சிறந்த பாடகர்கள் பாடியுள்ள நாடாக்களில் (tapes) பதிவு
              செய்யப்பட்டுள்ள பாடல்களை உடன் எடுத்து வந்திருந்தார். வழி முழுவதும் பக்திப் பாடல்களையும் மற்றும் கச்சேரிப்
              பாட்டுக்களையும் கேட்டு மகிழ்ந்து கொண்டு பல இடங்களையும் கண்டோம். எல்லா இடங்களைப் பற்றியும் திரு. கனகசபை
              அவர்கள்
              எங்களுக்கு விவரமாகச் சொல்லிக் கொண்டு வந்தார்.</p>
            <p> “ஹைட் பார்க்” (Hyde Park) என்ற இடத்தில் ஸ்பீக்கர்ஸ் கார்னர்
              (Speakers’ corner) என்றொரு மூலை இருக்கிறது. இங்கு நின்று யார் வேண்டுமனாலும் , யாரைப்பற்றியும், எந்தமாதிரி
              வேண்டுமானாலும் பேசலாமாம். இங்கிலாந்து தேசத்து இராணியைப் பற்றி மட்டும் பேசக்கூடாதாம். பேசினால் கம்பி எண்ண
              வேண்டியதுதானாம். ஆனால் ஒன்று, கேட்டுக் கொண்டிருப்பவர் கேட்கும் கேள்விகளுக்குப் பதிலளிக்கவும் தயாராக இருக்க
              வேண்டுமாம். </p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <h4 class="text-center"></h4>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12 m-auto">
    <mat-card class="example-card">
      <mat-card-content>
        <p>திடீரென்று இப்பொழுது நான் உங்களுக்கு உங்கள் மெய்ச் சிலிர்க்கும்படியாக ஓர் அநுபவம் அளிக்கப் போகிறேன்.
          தரையின்
          மேல்
          மட்டத்திலிருந்து கீழே சுமார் 400 மீட்டர் தூரத்திற்கு உங்களை என் காரிலேயே கொண்டு செல்லப் போகிறேன். அங்கே
          கிட்டத்தட்ட 100 மைல்கள் வரை காரிலேயே பிரயாணம் செய்யும்படியாகச் சாலை போடப்பட்டிருக்கிறது என்றார் திரு.
          கனகசபை.
          கார்
          ‘வராகவதாரம்’ எடுக்கப்போகிறது என்று எதிர்பார்த்துக் கொண்டிருந்த எங்களுக்கு ஏமாற்றம்தான் ஏற்பட்டது. எந்த
          இடத்தில்
          பூமிக்குள் செல்லும் பாதை ஆரம்பமாகிறதோ அங்கு சாலை செப்பனிட வேலைகள் நடந்து கொண்டிருந்ததால் சாலை
          மூடப்பட்டுவிட்டது.
          இன்னும் சில மாதங்களுக்கு நிலைமை சீராகாது என்ற விபரம் தெரிந்ததும் மேல் மட்டத்திலேயே எப்பொழுதும்
          இருப்பதுதான்
          நல்லது
          என்று தேற்றிக்கொண்டோம் . </p>
        <p>பல இடங்களைப் பார்த்துவிட்டு “ஹரே கிருஷ்ணா” இயக்கத்தினரின் கோவிலுக்குச் சென்றோம். நாங்கள் சென்ற நேரம்
          ஹாரத்தி
          நேரமாக இருந்ததால் பூஜைகளும், ஹரே கிருஷ்ணா, ஹரே ராமா கோஷங்களும் பகவன் நாமத்தைக் கூறிக்கொண்டே கூத்தாடும்
          பக்த
          கோடிகளின் கூட்டங்களும் கோவிலை ஒரு சொர்க்கலோகமாக மாற்றிக்கொண்டிருந்தன. அடே அப்பா! அந்த ஆனந்தக் கூத்து சில
          சமயங்களில் ஊர்த்துவ தாண்டவத்தை நினைவூட்டுவதாக இருந்தது. அவர்கள் குதிக்கும் குதி மேல் தளத்தை முட்டுவதாக
          இருந்தது.
          நம் ஊர் திவ்ய நாம பஜனையை ஞாபகப்படுத்தியது.
          இவ்வாறு ஏழாம் தேதி நகர் ஊர்வலத்தை முடித்துக் கொண்டு வீடு திரும்பினோம்.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>8-9-80 : - திங்கட் கிழம</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-5">
            <img mat-card-image src="../../../../assets/aboutGuruji/about-guruji-10-min.webp" class="w-100 m-auto"
                 alt="about-guruji-img">
          </div>
          <div class="col-md-7">
            <p> காலை சுமார் 12 மணி அளவிற்கு ஸ்ரீ விநாயக டிரஸ்டின் டிரஸ்டி திரு. எம். டி. ராஜா அவர்கள் தன் குழந்தைகளுடன்
              ஊர்
              சுற்றிக் காண்பிக்க அழைத்துச் செல்ல வந்தார். படாடோபம் இல்லாமல் இனிமையாகப் பேசும் இயல்பினர் திரு. ராஜா
              அவர்கள் .
              அவர் சிங்களத் தமிழர். அவர் தமிழைப் புரிந்து கொள்ள நாம் கூர்ந்து கவனிக்க வேண்டும், நம் தமிழை அவர்
              புரிந்துகொள்ள
              நாம் இருமுறை சொல்ல வேண்டும். ஆங்கிலத்தில் சரளமாகப் பேசிக்கொள்ளலாம். அவர் எங்களை மெழுகுக் காட்சி சாலை,
              பயங்கர
              பங்களா, விண்வெளித் தோற்றக்கூடம் முதலிய இடங்களுக்குக் கூட்டிச் சென்றார்.</p>
            <p> மெழுகு காட்சிச் சாலையில் முன்னாள்
              அரசர்கள், ராணிகள், பிரமுகர்கள், சமீப காலத்தில் உலகப்புகழ் பெற்ற தலைவர்கள்,</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card class="example-card">
      <mat-card-content>
        <p> கலைத் துறைகளில் முதன்மையாக
          விளங்கியவர்கள் ஆகியோரின் உருவங்களை மெழுகில் வடித்து வைத்திருக்கிறார்கள்.</p>
        <p> உண்மையில் இவர்களைக் கண்டால் எவ்வாறு
          இருப்பார்களோ அதே அளவில் உருவம் வடித்து வைத்திருக்கின்றனர். இம்மாதிரி வடித்த உருவம் ஒன்று பேசுகிறது. உதடு
          அசைவது,
          கண் இமைகள் அசைவது போன்றவைகள் தத்ரூபமாகத் தெரியும்படியான ஏற்பாடுகள் செய்து வைத்திருக்கின்றனர். நேரடியாக
          நம்மிடம்
          ஒருவர் பேசும்படியான பிரமை ஏற்படுகிறது. </p>
        <p>மேற்கூறிய உருவங்கள் உலகப் புகழ் பெற்ற நல்ல மனிதர்கள் . இங்குள்ள அரசாங்கம் குற்றம் செய்பவர்களுக்கும்
          போதுமான
          விளம்பரம் கொடுக்கிறது. எம்மாதிரியான குற்றங்களை மக்கள் இழைக்கின்றனர், அதற்கான தண்டனைகள் யார் யாருக்கு, எந்த
          முறைகளில் அளிக்கப்பட்டன, தொன்று தொட்டு கையாளப்பட்டு வந்த சில கடினமான உயிர் நீக்குத் தண்டனைகளின் மாதிரிகள்
          முதலியவற்றை மெழுகினாலேயே சித்தரித்து வைத்திருக்கின்றனர், இந்த பயங்கர பங்களாவில் . டில்லியில் இருப்பதுபோல்
          ஒலி-ஒளி
          காட்சிகளும் காட்டப்படுகின்றன . “This way please” ---என்று சொல்லும் பெண்மணி ஒருத்தி மெழுகு பொம்மையா அல்லது
          உண்மையான
          ரூபமா என்று தெரிய வேண்டுமா?, இலண்டனுக்குச் சென்று பாருங்கள் !</p>
        <p>விண் வெளிக் காட்சி மிகப் பிரமாதம். ஆரம்பித்த சிறிது நேரத்திற்குள் நமக்கு Open Air Theatre-இல் உட்கார்ந்து
          கொண்டு
          வான வெளியை பார்த்துக் கொண்டிருக்கும் அநுபவம்தான் உண்டாகிறது. காட்சி முடிந்து ஒரு பெண்மணி Exit this way
          please
          என்று சொல்வது காதில் விழும்பொழுதுதான் நமக்கு மேல் கூரை இருப்பதை உணருகிறோம் . </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>9-9-80 : - செவ்வாய்கிழம</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>இன்று காலை திருமதி சதாசிவம் எங்களை கடை வீதிகள் சுற்றிப்பார்க்க அழைத்துச் சென்றார். ஒவ்வொரு கடையும்
          பிரும்மாண்டமானது. வைத்திருக்கும் பொருள்களின் வகைகளுக்கு கணக்கே இல்லை. ஆனால் ஒன்று நாங்கள் உணர்ந்து
          கொண்டோம்.
          நாம்
          வாங்க நினைத்திருக்கும் பொருட்களுக்கு இந்திய நாணயப்படி விலையைக் கணக்கிட்டால் மலைப்பாக இருக்கிறது. </p>
        <p>இன்று இரவு 9 மணி அளவில் நாங்கள் திரு. ராமசந்திரன் என்bavarin வீட்டிற்குச் சென்றோம். அங்கு குருஜி
          அவர்களால்
          திருப்புகழ் வகுப்புத் தொடக்கத்திற்கு ஏற்பாடு செய்திருந்தனர். நாங்கள் திரு. ராமசந்திரன் அவர்களின்
          வீட்டினுள்
          நுழையும் போது “நேரம் வந்தாச்சு, நல்ல யோகம் வந்தாச்சு” என்ற பாடலைக் கேட்டோம். மிகவும் பொருத்தமாக இருந்தது.
          குருஜியின் மூலமாகத் திருப்புகழ் கற்றுக்கொள்ள இலண்டனில் உள்ளஅன்பர்களுக்கு நல்ல நேரம் வந்தது. அதன் பயனாக
          அவர்களுக்கு
          நல்ல யோகம் வந்துதானே ஆக வேண்டும்! கிட்டத் தட்ட 15 குழந்தைகளும், 10 ஆடவரும், பெண்டிருமாகப் பெரியவர்களும்
          வகுப்பிற்கு வந்திருந்தனர் “ஓம் ” என்ற பிரணவ மந்திரத்துடன் வகுப்பு துவங்கியது. “ கைத்தல நிறைகனி” என்ற
          விநாயக
          துதியையும் “நினைத்ததெத்தனையில் தவறாமல்” என்ற திருத்தணித் திருப்புகழையும் குருஜி அவர்கள் குழந்தைகளுக்குக்
          கற்றுக்
          கொடுத்தார். குழந்தைகளில் அநேகருக்குத் தமிழ் தெரியவில்லை . ஸ்ரீ கணபதி டிரஸ்டைச் சேர்ந்தவர்கள் வெள்ளிக்
          கிழமை
          தோறும்
          நடத்தும் வழிபாட்டில் பாடுவதற்காக அந்தக் குழந்தைகளுக்குத் தமிழ் பாடல்களை ஆங்கிலத்தில் சொல்லும்போது தமிழ்
          உச்சரிப்பாகவே இருக்கும்படியாக எழுதிக்கொடுத்திருக்கிறார்கள். அவர்கள் எழுதிக்கொடுத்திருக்கும் புத்தகத்தில்
          ஸ்லோகங்கள், திருப்புகழ், தேவாரம், திருவாசகம் இன்னும் பல விருத்தங்கள், நாமாவளிகள் முதலியன அடங்கியுள்ளன.
          வழிபாடு
          தினங்களில் இப்புத்தகத்தின் உதவி கொண்டு குழந்தைகள் பாடுகின்றனராம். ‘கைத்தல நிறைகனி ’ என்ற துதி அவர்களுடைய
          புத்தகத்தில் இருந்ததால் குருஜி அவர்கள் அக்குழந்தைகளுக்குக் கற்றுக் கொடுக்கும்பொழுது சிரமமில்லாமல்
          திருப்பிப்
          பாடினர். மொழி தெரியாவிட்டாலும் குருஜி அவர்கள் வழியாகச் சொல்லிக்கொடுக்கும்போது மிகுந்த ஆர்வம் காட்டி
          பாக்களைக்
          கற்றுக் கொண்டனர். குருஜி அவர்களை “நாதவிந்துகலாதீ நமோநம” என்ற திருப்புகழைப் பாடச் சொல்லி நாடாவில் (tape)
          பதித்துக்
          கொண்டனர். </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>10-9-80 : - புதன் கிழமை</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p> இன்று காலை எங்களை வெளியே அழைத்துச் செல்வதற்காக இலண்டனில் படித்து இங்கேயே ஒரு பல்கலைக் கழகத்தில்
          ப்ரொபஸராகப்
          பணிபுரியும் டாக்டர் ஆறுமுகம் என்பவர் வந்தார்கள். அவருடைய காரில் இலண்டனருகிலுள்ள புகழ் பெற்ற “வின்ட்ஸர்
          காஸில்”
          (Windsor Castle) என்ற ராஜ அரண்மனைக்கு அழைத்துச் சென்றார், அரண்மனைக்குள் நுழையு முன் St. George Chapel என்ற
          ஆலயத்திற்குச் சென்றோம். மிகவும் புராதமான இந்த ஆலயத்தை மிகவும் நன்றாகப் பேணி வருகின்றனர். “Here Lieth” பல
          இருக்கின்றன. காலதேச வர்த்தமானங்களை உத்தேசித்து வீட்டிற்குத் திரும்பிய பிற்பாடு நாங்கள் குளிக்கவில்லை.
          ஆலயத்தைப்
          பார்த்த பிறகு அரண்மனையைக் காணச் சென்றோம். மிகவும் நேர்த்தியான பொருட்கள் பல வைத்திருக்கின்றனர். வருடத்தில்
          சில
          மாதங்களை இங்கு கழிக்கின்றனராம் இங்கிலாந்து ராணி. இதன் காரணமாக இங்கு வைத்திருக்கும் பொருட்களைப்
          பார்க்கும்பொழுது
          அவைகள் பழைய காலத்தைச் சேர்ந்தவைகளாக இருந்தாலும் அவற்றைப் புதுப்பொலிவுடன் விளங்கும்படியாக நேர்த்தியாகக்
          காத்து
          வருகிறார்கள். ஆங்கிலேயர் ஆதிகாலத்துப் பொருள்கள், கலை முதலியவற்றில் அதிக ஆர்வம் எடுத்துக்கொண்டு அவை அழிந்து
          போகாமல்
          காத்து வருகின்றனர். </p>
        <p>மதிய உணவை வீட்டிலேயே தயாரித்துக் கொண்டு எடுத்துக் கொண்டு போனோமோ பிழைத்தோமோ! உணவுச் சாலைகளில் உணவுப்
          பொருள்களின்
          விலை நம் நாட்டைவிடப் பன்மடங்கு. ஓரிரு பதார்த்தங்களையே வாங்கினோமானாலும், இந்த ஊர் பண மதிப்பின்படி ஒரு
          பவுண்டு
          (British Pound Sterling) ஆகிறது. நம் இந்திய நாணய மதிப்புப்படி ரூ. 20 ஆகிறது. ஒரு கப் காபி 30p. ‘ p’ என்பது
          பைசா
          இல்லை பென்ஸாகும் (Pence). ஒரு பென்ஸின் மதிப்பு இன்றைய நாணய மாற்று விகிதப்படி கிட்டத்தட்ட 20 பைசா. ஒரு கப்
          காபி
          ரூ
          6 தான் . இது நம் பக்கத்து “அன்னபூர்ணா” ஹோட்டல் போன்ற சிற்றுண்டி சாலைதான்.</p>
        <p>இரவு சாப்பாட்டிற்கு தில்லி திருப்புகழ் அன்பர் திரு, சுப்பிரமணியத்தின் சகோதரரும், இலண்டனில் இந்திய ஹை
          கமிஷனில்
          First Secretary யாகப் பணிபுரிபவருமான திரு. ராமன் அவர்கள், திரு. சதாசிவத்தின் இல்லத்திற்கு வந்தார். பல
          விஷயங்களைப்
          பற்றி அளவளாவிக்கொண்டிருந்துவிட்டு இரவு உணவிற்குப் பிற்பாடு திரு. ராமன் தன் இல்லம் ஏகினார். நாங்கள் ஓய்வு
          எடுத்துக்
          கொள்ளச் சென்றோம் .</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>11-9-80 : - வியாழக்கிழமை</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>இன்று இலண்டனில் உள்ள ட்யூப் ரயில் (Tube Rail) பார்க்கச் சென்றோம். திரு,சதாசிவத்தின் புதல்வன் சிவகுமார்
          எங்களை
          அழைத்துச் சென்றான். ஈலிங் காமன் என்ற ரயில் நிலையத்திலிருந்து ஈலிங்க் பிராட்வே (Ealing Broadway) என்ற ரயில்
          நிலையத்திற்குப் பிரயாணம் செய்தோம். மொத்த தூரம் என்னவோ லோதி காலனியிலிருந்து சேவா நகர் போகும் தூரம்தான்.
          கிட்டத்தட்ட
          இரண்டு கிலோ மீட்டர்கள். கட்டணமோ 15 பென்ஸ். இந்திய நாணய மதிப்புப்படி ரூ.2.75 தான்! இந்திய ரயில்வேயில்
          சுமார் 20
          கிலோ மீட்டர்கள் செல்லலாம். ஏன்? பஸ் கட்டணமும் இவ்வளவு அதிகமாகத்தான் இருக்கிறது. ஈலிங் பிராட்வேயில் சில
          கடைகளைப்
          பார்த்துவிட்டு கால்நடையாகவே வீடு திரும்பினோம் . </p>
        <p>இரவு திரு. பரஞ்சோதி என்ற பெரியவர் குருஜி அவர்களைக் காண வந்திருந்தார். இவர் 80 வயதைத் தாண்டியவர்.
          இருந்தாலும்
          தோற்றத்தில், அவ்வாறு தெரியவில்லை. இந்தப் பெரியவர் தன்னுடைய சிறுவயதிலிருந்தே இறை பணியில் ஈடுபட்டவர்.
          காலஞ்சென்ற
          திருப்புகழ் மணி திரு. டி. எம். கிருஷ்ணஸ்வாமி ஐயருடன் இரண்டு, மூன்று தடவைகள் திருத்தணி திருப்படி விழாவிற்கு
          சென்று
          வந்தவர். திருப்புகழ் மணி அவர்கள் நடத்தி வந்த வார பஜனைகளில் ஈடுபட்டவர். திருப்புகழ் மற்றுமன்றி தேவாரம்,
          திருவாசகம்
          மற்றும் பல சமய நூல்களைக் கற்றறிந்தவர். இவர் இந்தியா, இங்கிலாந்து நாடுகளில் இலங்கை அரசாங்கத்தின் வர்த்தகப்
          பிரதிநிதியாக பணி புரிந்து ஓய்வு பெற்றவர். இவர் திருவனந்தபுரம், மதறாஸ், புதிடில்லி முதலிய நகரங்களில்
          வாழ்ந்தவர்.
          மெட்றாஸில் இருக்கும்போது முருகனின் ஆறு படை வீடுகளையும் மற்றும் பல பாடல் பெற்ற தலங்களையும் கண்டு
          தரிசித்தவர்.
          குழந்தைகள் சிறு வயதிலிருந்தே இறை வழிபாட்டிலும் இறை பணியிலும் ஈடுபட்டு நற்பண்புகள் கொண்டு வாழவேண்டுமென்று
          விழைபவர்.
          குருஜியுடன் தனது அநுபவங்களைப்பற்றி விரிவாகப் பேசிக் கொண்டிருந்தார். குருஜியுடன் அரைமணிநேரம்
          பேசிக்கொண்டிருந்து
          விட்டு குருஜியிடமிருந்து “திருப்புகழ் மாலை” புத்தகமொன்றை பெற்றுக்கொண்டுவிட்டு விடை பெற்றுச் சென்றார்.
          இதற்கிடையில்
          டில்லி நகரிலுள்ள திருப்புகழ் அன்பர்களில் ஒருவரான திருமதி மகாலிங்கத்தின் பெண் தன் வாழ்க்கைத் துணைவருடன்
          வந்திருந்தார். குருஜி அவர்களை ஒருநாள் தங்களுடைய இல்லத்திற்கு வருமாறு அழைத்துவிட்டு விடைபெற்றுச் சென்றனர்.
          இத்துடன்
          இன்றைய காரியங்கள் முடிவுற்றன. </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>12-9-80 : - வெள்ளிக் கிழம</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>மாலை வழிபாட்டில் ஈடுபட்டோம் </p>
        <p>ஸ்ரீ கணபதி டிரஸ்ட் வழக்கமாக ஒவ்வொரு வெள்ளிக் கிழமையிலும் வழிபாடு நடத்தி வரும் A.T.C. ஹாலுக்கு அழைத்துச்
          செல்லப்பட்டோம். அங்கே விநாயகரின் விக்ரஹத்திற்கு திரு. வெங்கடராமன் அபிஷேகம், அருச்சனை செய்து பூஜை செய்தார்.
          அபிஷேகம் நடக்கும்பொழுது விஷ்ணு சஹஸ்ரநாமம், கந்தர் அநுபூதி, ருத்ர சமக மந்திரங்கள், போற்றிகள் முதலியன
          சொல்வது
          வழக்கமாக இருந்து வருகிறது. அந்த முறையில் இந்த வெள்ளிக்கிழமையன்று நாங்கள் கந்தர் அநுபூதியும், சீர்பாத
          வகுப்பும்
          பாராயணம் செய்தோம். முடிவில் குருஜி அவர்கள் சில திருப்புகழ் பாடல்கள் பாட அன்றைய நிகழ்ச்சி முடிவுற்றது. இந்த
          நிகழ்ச்சியில் மாதர்கள் பெரும் பங்கு எடுத்துக்கொள்கின்றனர். அபிஷேகம் நடப்பதற்கு முன் அவர்கள் நாமாவளிகள்,
          திருப்புகழ், தேவாரம் இன்னும் மற்ற தெய்வீகப் பாடல்கள் பலவற்றைப் பாடுகின்றனர். ஒருவர் பாடி மற்றவர்கள்
          பின்னால்
          பாடும் முறையைக் கொண்டு பாடுகிறார்கள். யாழ்ப்பாணத் தமிழர்கள் பேசும் தமிழ் சிறிது மாறுபட்டிருக்கிறது.
          தமிழில்
          அவர்களுக்கிருக்கும் ஆர்வம் போற்றுதற்குரியது. </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>13-9-80 : - சனிக்கிழமை</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>இன்று காலை இலண்டனில் நமது இந்திய ஹை கமிஷனில் முதல் செகரட்டரி (First Secretary)யாகப் பணி புரிந்து வரும்
          திரு.
          என்.
          வி . ராமன் அவர்கள் எங்களைத் தன்னுடைய இல்லத்திற்கு மதிய உணவிற்காக அழைத்துச் சென்றார். அங்கு அவருடைய
          பெண்ணும்,
          மாப்பிள்ளையும் வந்தனர். அவருடைய மாப்பிள்ளை திரு. சயிலேந்திர வியாகரணம் என்பவர் எங்களை இலண்டனிலுள்ள மிகப்
          புராதனமான
          ஏழாம் நூற்றாண்டில் (604 ஆம் வருடம்) உருவாகிய செயின்ட் பால் (St. Paul) தேவாலயத்திற்கு அழைத்துச் சென்றார்.
          1666
          ஆம்
          ஆண்டில் ஏற்பட்ட பெருந் தீ விபத்தில் இலண்டனிலுள்ள அநேக இடங்கள் சிதைவுற்று உருத் தெரியாமல் போய்விட்டனவாம்.
          அம்மாதிரி
          தீக்கிரையான கட்டடங்களில் இந்த செயின்ட் பால் தேவாலயமும் ஒன்று. பின்னால் இதைப் பொது ஜனங்களிடமிருந்து பண
          வசூல்
          செய்து
          புதுப்பித்திருக்கிறார்கள். பிறகு கிட்டத்தட்ட 320 வருடங்களாகியும் இந்தத் தேவாலயம் புதுப் பொலிவுடன்
          விளங்குகிறது.
          வெளியில் நின்று பார்க்கும்பொழுது இது வானளாவ உயர்ந்து நிற்கிறது. உட்புறத் தோற்றங்கள் கண்ணைக் கவர்கின்றன.
          எத்தனைச்
          சிற்பங்கள், சித்திரங்கள், வர்ணப்பூச்சுகள்! சித்திரங்கள் யாவும் தெளிவுடன் சமீபத்தில்தான் தீட்டியவை போன்று
          சிதைவுறாமல் அழகாக இருக்கின்றன. கிறிஸ்துமஸ் விழாவின்போது பிரார்த்தனை செய்வதற்கென்று நம் கோயில்களில் முக
          மண்டபம்
          என்று சொல்வார்களே அது போல் ஏசு நாதரின் சிலைக்கு முன் ஒரு பெரிய கூடமிருக்கிறது. இந்தக் கூடத்தில் ஒரே
          சமயத்தில்
          ஆயிரக்கணக்கான மக்கள் கூடிப் பிரார்த்தனை செய்யலாம். அவ்வளவு பெரியதாக இருக்கிறது. இக்கூட்டத்தைக் கண்ணுற்ற
          குருஜி
          “திருப்புகழ் அன்பர்கள் எல்லோரும் கூடியிருந்து பஜனை செய்யவும் பிரார்த்தனை பண்ணவும் வசதியாக இவ்வளவு பெரிய
          அழகான
          ஒரு
          கூடம் நமக்கு எப்பொழுது கிட்டுமோ! ” என்று தனது ஆசையை வெளியிட்டார். அவருக்கு எப்பொழுதும் முருகன் நினைவுதானே!
          ஒரு
          பக்கத்தில் பாதிரிக்கு முன் ஏந்திச் செல்ல வைத்திருக்கும் வெள்ளிச் சிலுவையைப் பார்த்து “ இதை முன்னால்
          எடுத்துச்
          செல்லும்போது நம்மவர்கள் முருகனுக்கு முன் வேலைப் பிடித்துச் செல்வது போல் இருக்கும்” என விவரித்தார். இந்தத்
          தேவாலயத்
          திருப்பணி மட்டுமன்றி தினசரி இதைப் பராமரிக்கும் சிலவு, விதாக்கள் மற்றும் விசேஷ நிகழ்ச்சிகளுக்கான சிலவுகள்
          யாவற்றையும் பொது மக்களே நிதி உதவி செய்து நடக்கப் பெறுகின்றனர். அரசாங்க உதவியை எதிர்பார்ப்பதில்லையாம்.
          ஆங்கில
          மக்கள் தங்கள் கலைகளையும், கலாச்சாரங்களையும் இவ்வாறு போற்றி வருகின்றனர். பழமை நினைவுச் சின்னங்களைப் போற்றி
          வருவதில்
          அவருக்கு நிகர் எவருமில்லை யென்றே கூறலாம். நம் நாட்டிலும் பெரும் பணக்காரர்கள் இருக்கிறார்களே “உள்ள போதே
          கொடாதவர்”
          என்று குருஜி அங்கலாய்த்துக் கொண்டார். இந்தத் தேவாலயத்தைக் கண்டு களித்த பின் திரு. ராமன் இல்லத்திற்கு மதிய
          உணவிற்காகத் திரும்பினோம். உணவு உட்கொண்ட பின் திரு. ராமன் அவர்களிடமிருந்த ஒலிப்பதிவு செய்யப்பட்ட சில
          பாடல்களைக்
          கேட்டு மகிழ்ந்த பிற்பாடு திரு. சதாசிவத்தின் வீட்டிற்குத் திரும்பினோம் .</p>
        <p>இன்று மாலை விநாயக சதுர்த்தியை முன்னிட்டு ஏற்பாடு செய்யப்பட்டிருந்த விசேஷ பூஜையில் பங்கெடுத்துக் கொள்ள
          சிட்னி
          பிளாக் ஹால் (Sydney Black Hall) என்ற கூடத்திற்குச் சென்றோம். விநாயகப் பெருமானுக்கு விரிவாகப் பூஜை
          செய்யப்பட்டது.
          அபிஷேகத்தின்போது திரு. சதாசிவமும், திரு. வெங்கட்டராமனும் விஷ்ணு சஹஸ்ரநாமம் பாராயணம் செய்ய அபிஷேகம்
          நடந்தது.
          அலங்காரம் நடந்து கொண்டிருக்கும் சமயத்தில் குருஜியை சில பாட்டுக்கள் பாடும்படிக் கேட்டுக் கொண்டனர்.
          அதற்கிணங்க
          திரு.
          சுப்பிரமணிய பாரதியாரின் பாடலான “முருகா, முருகா, முருகா வருவாய் மயில் மீதினிலே, வடிவேலுடனே வருவாய்” என்ற
          பாடலை
          குருஜி அவர்கள் பாடினார். அதற்குப் பிறகு “ தேவேந்திர சங்க வகுப்பும், திருவேளைக்காரன் வகுப்பும்” பாடப்பட்டன.
          முதலில்
          குருஜி அவர்கள் இலண்டன் வாழ் தமிழ் அன்பர்களுக்கு இந்தியாவில் உள்ள திருப்புகழ் அன்பர்களின் அன்பளிப்பாகத்
          தயாரித்து
          வைத்திருந்த புத்தகத்தின் முதற் பிரதியை ஸ்ரீ கணபதி டிரஸ்டின் தலைவரான திரு. ரத்ன சிங்கத்திற்கு அளித்து
          புத்தகத்தை
          வெளியிட்டார்.</p>
        <p>பூஜை முடிந்து நாங்கள் திரு. வெங்கட்டராமனின் இல்லம் ஏகினோம். இன்று இரவு முதல் நாங்கள் மீண்டும்
          டில்லிக்குப்
          புறப்படும்வரை நாங்கள் தங்குவதற்கு திரு. வெங்கட்டராமனின் வீட்டில் ஏற்பாடாகியிருந்தது. திரு. வெங்கட்டராமன்
          Defence
          Account Depatmentஐச் சேர்ந்தவர். இலண்டனின் இந்திய ஹை கமிஷனில் வேலை பார்த்து வருகிறார். ஸ்ரீ கணபதி டிரஸ்ட்
          நடத்திவரும் வெள்ளிக்கிழமை வார வழிபாட்டில் இவர்தான் பூஜை முறைகளை நடத்தி வருபவர். முறையாக ஆவாஹன, அபிஷேக,
          அர்ச்சனை
          செய்து பூஜை செய்து வருகிறார். இவருடைய வாழ்க்கைத் துணைவியர் டில்லியில் ராமகிருஷ்ணபுரத்தில் திருமதி தாரா
          கிருஷ்ணனால், திருமதி மீனாக்ஷி கிருஷ்ணனின் இல்லத்தில் நடைபெற்று வந்தத் திருப்புகழ் வகுப்பில் திருப்புகழ்
          கற்றுக்
          கொண்டவர். நாங்கள் அவர் வீட்டில் தங்க ஏற்பாடாகி யிருந்ததை ஓர் பெரும் பாக்கியமாகக் கருதினார்.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>14-9-80 : - ஞாயிற்றுக்கிழம</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>இன்று காலை இலண்டனில் நமது இந்திய ஹை கமிஷனில் முதல் செகரட்டரி (First Secretary)யாகப் பணி புரிந்து வரும்
          திரு.
          என்.
          வி . ராமன் அவர்கள் எங்களைத் தன்னுடைய இல்லத்திற்கு மதிய உணவிற்காக அழைத்துச் சென்றார். அங்கு அவருடைய
          பெண்ணும்,
          மாப்பிள்ளையும் வந்தனர். அவருடைய மாப்பிள்ளை திரு. சயிலேந்திர வியாகரணம் என்பவர் எங்களை இலண்டனிலுள்ள மிகப்
          புராதனமான
          ஏழாம் நூற்றாண்டில் (604 ஆம் வருடம்) உருவாகிய செயின்ட் பால் (St. Paul) தேவாலயத்திற்கு அழைத்துச் சென்றார்.
          1666
          ஆம்
          ஆண்டில் ஏற்பட்ட பெருந் தீ விபத்தில் இலண்டனிலுள்ள அநேக இடங்கள் சிதைவுற்று உருத் தெரியாமல் போய்விட்டனவாம்.
          அம்மாதிரி
          தீக்கிரையான கட்டடங்களில் இந்த செயின்ட் பால் தேவாலயமும் ஒன்று. பின்னால் இதைப் பொது ஜனங்களிடமிருந்து பண
          வசூல்
          செய்து
          புதுப்பித்திருக்கிறார்கள். பிறகு கிட்டத்தட்ட 320 வருடங்களாகியும் இந்தத் தேவாலயம் புதுப் பொலிவுடன்
          விளங்குகிறது.
          வெளியில் நின்று பார்க்கும்பொழுது இது வானளாவ உயர்ந்து நிற்கிறது. உட்புறத் தோற்றங்கள் கண்ணைக் கவர்கின்றன.
          எத்தனைச்
          சிற்பங்கள், சித்திரங்கள், வர்ணப்பூச்சுகள்! சித்திரங்கள் யாவும் தெளிவுடன் சமீபத்தில்தான் தீட்டியவை போன்று
          சிதைவுறாமல் அழகாக இருக்கின்றன. கிறிஸ்துமஸ் விழாவின்போது பிரார்த்தனை செய்வதற்கென்று நம் கோயில்களில் முக
          மண்டபம்
          என்று சொல்வார்களே அது போல் ஏசு நாதரின் சிலைக்கு முன் ஒரு பெரிய கூடமிருக்கிறது. இந்தக் கூடத்தில் ஒரே
          சமயத்தில்
          ஆயிரக்கணக்கான மக்கள் கூடிப் பிரார்த்தனை செய்யலாம். அவ்வளவு பெரியதாக இருக்கிறது. இக்கூட்டத்தைக் கண்ணுற்ற
          குருஜி
          “திருப்புகழ் அன்பர்கள் எல்லோரும் கூடியிருந்து பஜனை செய்யவும் பிரார்த்தனை பண்ணவும் வசதியாக இவ்வளவு பெரிய
          அழகான
          ஒரு
          கூடம் நமக்கு எப்பொழுது கிட்டுமோ! ” என்று தனது ஆசையை வெளியிட்டார். அவருக்கு எப்பொழுதும் முருகன் நினைவுதானே!
          ஒரு
          பக்கத்தில் பாதிரிக்கு முன் ஏந்திச் செல்ல வைத்திருக்கும் வெள்ளிச் சிலுவையைப் பார்த்து “ இதை முன்னால்
          எடுத்துச்
          செல்லும்போது நம்மவர்கள் முருகனுக்கு முன் வேலைப் பிடித்துச் செல்வது போல் இருக்கும்” என விவரித்தார். இந்தத்
          தேவாலயத்
          திருப்பணி மட்டுமன்றி தினசரி இதைப் பராமரிக்கும் சிலவு, விதாக்கள் மற்றும் விசேஷ நிகழ்ச்சிகளுக்கான சிலவுகள்
          யாவற்றையும் பொது மக்களே நிதி உதவி செய்து நடக்கப் பெறுகின்றனர். அரசாங்க உதவியை எதிர்பார்ப்பதில்லையாம்.
          ஆங்கில
          மக்கள் தங்கள் கலைகளையும், கலாச்சாரங்களையும் இவ்வாறு போற்றி வருகின்றனர். பழமை நினைவுச் சின்னங்களைப் போற்றி
          வருவதில்
          அவருக்கு நிகர் எவருமில்லை யென்றே கூறலாம். நம் நாட்டிலும் பெரும் பணக்காரர்கள் இருக்கிறார்களே “உள்ள போதே
          கொடாதவர்”
          என்று குருஜி அங்கலாய்த்துக் கொண்டார். இந்தத் தேவாலயத்தைக் கண்டு களித்த பின் திரு. ராமன் இல்லத்திற்கு மதிய
          உணவிற்காகத் திரும்பினோம். உணவு உட்கொண்ட பின் திரு. ராமன் அவர்களிடமிருந்த ஒலிப்பதிவு செய்யப்பட்ட சில
          பாடல்களைக்
          கேட்டு மகிழ்ந்த பிற்பாடு திரு. சதாசிவத்தின் வீட்டிற்குத் திரும்பினோம் .</p>
        <p>இன்று மாலை விநாயக சதுர்த்தியை முன்னிட்டு ஏற்பாடு செய்யப்பட்டிருந்த விசேஷ பூஜையில் பங்கெடுத்துக் கொள்ள
          சிட்னி
          பிளாக் ஹால் (Sydney Black Hall) என்ற கூடத்திற்குச் சென்றோம். விநாயகப் பெருமானுக்கு விரிவாகப் பூஜை
          செய்யப்பட்டது.
          அபிஷேகத்தின்போது திரு. சதாசிவமும், திரு. வெங்கட்டராமனும் விஷ்ணு சஹஸ்ரநாமம் பாராயணம் செய்ய அபிஷேகம்
          நடந்தது.
          அலங்காரம் நடந்து கொண்டிருக்கும் சமயத்தில் குருஜியை சில பாட்டுக்கள் பாடும்படிக் கேட்டுக் கொண்டனர்.
          அதற்கிணங்க
          திரு.
          சுப்பிரமணிய பாரதியாரின் பாடலான “முருகா, முருகா, முருகா வருவாய் மயில் மீதினிலே, வடிவேலுடனே வருவாய்” என்ற
          பாடலை
          குருஜி அவர்கள் பாடினார். அதற்குப் பிறகு “ தேவேந்திர சங்க வகுப்பும், திருவேளைக்காரன் வகுப்பும்” பாடப்பட்டன.
          முதலில்
          குருஜி அவர்கள் இலண்டன் வாழ் தமிழ் அன்பர்களுக்கு இந்தியாவில் உள்ள திருப்புகழ் அன்பர்களின் அன்பளிப்பாகத்
          தயாரித்து
          வைத்திருந்த புத்தகத்தின் முதற் பிரதியை ஸ்ரீ கணபதி டிரஸ்டின் தலைவரான திரு. ரத்ன சிங்கத்திற்கு அளித்து
          புத்தகத்தை
          வெளியிட்டார்.</p>
        <p>பூஜை முடிந்து நாங்கள் திரு. வெங்கட்டராமனின் இல்லம் ஏகினோம். இன்று இரவு முதல் நாங்கள் மீண்டும்
          டில்லிக்குப்
          புறப்படும்வரை நாங்கள் தங்குவதற்கு திரு. வெங்கட்டராமனின் வீட்டில் ஏற்பாடாகியிருந்தது. திரு. வெங்கட்டராமன்
          Defence
          Account Depatmentஐச் சேர்ந்தவர். இலண்டனின் இந்திய ஹை கமிஷனில் வேலை பார்த்து வருகிறார். ஸ்ரீ கணபதி டிரஸ்ட்
          நடத்திவரும் வெள்ளிக்கிழமை வார வழிபாட்டில் இவர்தான் பூஜை முறைகளை நடத்தி வருபவர். முறையாக ஆவாஹன, அபிஷேக,
          அர்ச்சனை
          செய்து பூஜை செய்து வருகிறார். இவருடைய வாழ்க்கைத் துணைவியர் டில்லியில் ராமகிருஷ்ணபுரத்தில் திருமதி தாரா
          கிருஷ்ணனால், திருமதி மீனாக்ஷி கிருஷ்ணனின் இல்லத்தில் நடைபெற்று வந்தத் திருப்புகழ் வகுப்பில் திருப்புகழ்
          கற்றுக்
          கொண்டவர். நாங்கள் அவர் வீட்டில் தங்க ஏற்பாடாகி யிருந்ததை ஓர் பெரும் பாக்கியமாகக் கருதினார்.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>15-9-80 : - திங்கட் கிழம</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>இன்று காலையில் திரு. வெங்கட்டராமனுடன் இந்திய ஹை கமிஷனர் அலுவலகமான India House சென்றோம். அங்கே திரு.
          என்.வி
          ராமன்
          அவர்களையும், திரு எம். வரதராஜன் அவர்களையும் சந்தித்தோம். திரு. வரதராஜன் இந்திய ஹை கமிஷனில் Minister
          (Supply)
          என்ற
          பதவி வகிப்பவர். இலண்டன் வாழ் தமிழ் மக்களிடையே பெரும்பாலார்க்கு அறிமுகமானவர். கலை நிகழ்ச்சிகளில் பேசுவதற்கு
          இவரை
          அழைப்பார்களாம். தெய்வ சிந்தனையுள்ளவர். நேற்று நடந்த விசேஷ நிகழ்ச்சிக்கு வந்திருந்தார். அவரிடம் பல
          விஷயங்களைப்பற்றிப் பேசிவிட்டு எங்களை வெளியில் அழைத்துச் செல்வதற்கான ஏற்பாடுகளுடன் காத்துக் கொண்டிருந்த
          திரு.
          ராமசந்திரனைச் சந்திக்கப் புறப்பட்டோம். India House அருகிலுள்ள Charing Cross குழாய் ரயில்வே ஸ்டேஷனில்
          ரயிலேறி
          Wimbledon South என்ற இடத்திற்குச் சென்றோம். அங்குதான் திரு. ராமசந்திரன் எங்களுக்கெனக் காத்துக்
          கொண்டிருந்தார்.
          நேராக அவர் வீட்டிற்குப் போய் சிறிது ஓய்வு எடுத்துக் கொண்டு பிரசித்தி பெற்ற Oxford University காண Oxford
          நகரத்திற்குப் புறப்படத் தயாரானோம். திரு. ராமசந்திரன் ‘பர்மிங்ஹாம்’ நகரிலுள்ள ஸ்ரீ வெங்கடாசலபதி கோயிலையும்
          எங்களுக்குக் காட்ட விரும்பியதால் பர்மிங்ஹாம் நகரிலேயே இருந்துவரும் திரு. ராவ் அவர்களுடன் தொலைபேசியில்
          தொடர்பு
          கொண்டார். திரு. ராவ்தான் பர்மிங்ஹாமிலுள்ள வட இந்தியர்களால் நிறுவப்பட்டு அவர்களாலேயே நிர்வாகிக்கப்பட்டு
          வரும்
          ஸ்ரீ
          கீதா பவன் மந்திரில் ஸ்ரீ வெங்கடாசலபதியின் விக்ரஹம் ஒன்றையும் பிரதிஷ்டை செய்யக் காரணகர்த்தாவாக இருந்தவராம்.
          திரு.
          ராவ் அவர்களுக்கு நாங்கள் வரவிருப்பதைத் தெரிவித்துவிட்டு திரு. ராமசந்திரனின் இல்லத்திலிருந்து இரண்டேகால்
          மணிக்குப்
          புறப்பட்டோம். மூன்றரை மணியளவில் ஆக்ஸ்போர்டு (Oxford) நகரை அடைந்தோம். அங்கு Christ Church, University
          Building
          முதலியவற்றைப் பார்த்த பின் நேராக பர்மிங்ஹாம் நகருக்குப் புறப்பட்டோம் . வழியில் ஸ்டரட்போர்ட் (Stratford)
          என்ற
          இடத்தில் உலக மகாகவி ஷேக்ஸ்பியரின் வீட்டையும் , அவர் உபயோகித்து வந்த புத்தக சாலையையும் கண்டோம். விரைவில்
          பர்மிங்ஹாம் செல்ல வேண்டியிருந்ததால் காரிலிருந்து கீழே இறங்கிப் போய்ப் பார்க்க நேரமில்லை. நேராக
          பர்மிங்ஹாமிலிருந்து
          டாக்டர் அவர்களின் வீட்டிற்குச் சென்றோம். டாக்டர் ராவ் பர்மிங்ஹாமிலுள்ள ஸ்ரீ கீதாபவன் மந்திர் டிரஸ்டின்
          முக்கியஸ்தர்களில் ஒருவர். டாக்டர் ராவ் அவர்களின் இல்லத்தை அடைந்ததும் அவருடைய வரவேற்பு அறையில் வைத்திருந்த
          ‘ஓம்
          முருகன்’ ( ஓம் என்ற எழுத்திற்குள் முருகன் உருவம் அமைந்த சுவரில் மாட்டி வைக்கும்படியான ஓர் காகித வார்ப்பு)
          எங்களுக்குத் தோற்றமளித்தார்.அன்று சுக்கில சஷ்டியாக இருக்கவே இந்தக் காட்சி எங்களுக்கு மன நிறைவைக்
          கொடுத்தது.
          சஷ்டி
          பஜனையை திரு. வெங்கட்டராமன் இல்லத்தில் நடத்த நினைத்திருந்தோம். ஆனால் நாங்கள் பர்மிங்ஹாமுக்கு இரவு ஏழு மணி
          சுமாருக்குத்தான் வந்து சேர முடிந்தது. பர்மிங்ஹாமிலிருந்து இலண்டனுக்குக் காரில் செல்லக் குறைந்த பக்ஷம்
          இரண்டு மணி
          நேரமாகும். பர்மிங்ஹாம் வந்த மட்டிலும் ஸ்ரீ கீதா மந்திர் சென்று பார்க்காமல் போகவும் இயலாது. இந்த நிலையில்
          சஷ்டி
          பஜனை என்னாவது, பஜனைக்கு என்று வந்து காத்துக் கொண்டிருக்கும் திரு. கனகசபை, திரு. சதாசிவம் மற்றும்
          ஏனையோருக்கு
          எவ்வாறு சமாதானம் கூறுவது என்று நினைத்துக் கொண்டிருந்தோம். டாக்டர் ராவ், குருஜி அவர்களுக்குத் தன்னுடைய பூஜை
          அறையைக்
          காண்பிக்க விரும்பினார். அத்துடன் குருஜி அவர்களை அங்கு சில பாட்டுக்களைப்பாடி பூஜையையும் நடத்துமாறு கேட்டுக்
          கொண்டார். சஷ்டி பஜனை நடக்காமல் போய்விடப்போகிறதே என்று அங்கலாய்த்துக் கொண்டிருந்த குருஜி அவர்களுக்கு
          டாக்டர் ராவ்
          அவர்களின் வேண்டுகோள் “பழம் நழுவிப் பாலில் விழுந்தாற்போலாயிற்று”. எப்படியாயினும், எங்கேயாயினும் சஷ்டியை
          முன்னிட்டு
          ஆண்டவனின் நாமத்தைப் பாடவேண்டுமென்ற துடியாய்த் துடித்துக் கொண்டிருப்பவராயிற்றே குருஜி! டாக்டர் ராவ்
          அவர்களின்
          பூஜை
          அறையில் சிறிது நேரம் கோவிந்தா நாமத்துடன் சில பாசுரங்களைப் பாடி பூஜையை நிறைவேற்றினோம். உடனேயே கீதா மந்திர்
          காண
          விரைந்தோம். கோவிலை அழகாகக் கட்டியிருக்கிறார்கள். ராதா கிருஷ்ணா விக்ரஹங்களுக்கு எதிராக ஓர் பெரிய ஹால்
          இருக்கிறது.
          ஸ்ரீ வெங்கடாஜலபதிக்கு சந்நிதியும், துர்கா தேவி சந்நிதியும் இருக்கின்றன. இடது பக்கத்தில் ஒரு பக்கத்தில்
          சிவலிங்கம்
          பிரதிஷ்டை செய்திருக்கிறார்கள். அந்த சிவ மந்திரில் கணேசர், தத்தாத்ரேயர், ஆஞ்சநேயர்முதலிய தெய்வங்களுக்கு
          சந்நிதிகள்
          இருக்கின்றன. தத்தாத்ரேயர் விக்ரஹத்தை எங்களுக்கு ‘கார்த்திகேயர்’ என்று காண்பித்தனர். குருஜி அவர்கள்
          அவ்விக்ரஹம்
          காத்திகேயனின் விக்ரஹம் அன்று அது தத்தாத்ரேயனின் விக்ரஹம் என்று எங்களுடன் இருந்த கீதா மந்திரின் தலைவர்
          திரு.
          பரத்வாஜ், திரு. ஷிண்டே, டாக்டர் ராவ், திரு. ராமசந்திரன் முதலியவர்களுக்கு எடுத்துக் கூறினார். அத்துடன்
          அம்மந்திரில்
          முருகனுக்கு ஓர் சந்நிதி அவசியம் ஏற்படுத்த வேண்டுமென்றும், தேவ ஸேனாபதியாகிய முருகன் அக்கோயிலில்
          எழுந்தருளாமல்
          இருப்பதாலேயே சமீபத்தில் பல நகைகள் காணாமல் போய்விட்டிருக்கலாம் என்றும் சொல்லி முருகனுக்கு ஓர் சந்நிதி
          ஏற்படுத்த
          வேண்டுமென்று வற்புறுத்திக் கூறினார். உடனே அந்த இடத்திலேயே கூடிய சீக்கிரம் குமரனைப் பிரதிஷ்டை செய்ய
          ஏற்பாடுகள்
          செய்யவேண்டுமென்று தீர்மானித்தனர். திரு. ராமசந்திரன் தன்னுடைய செலவில் முருகனின் விக்ரஹம் தயாரித்துக்
          கொடுக்க
          முன்வந்தார். அவருடைய ஆவல் அங்கீகரிக்கப்பட்டது. இது குருஜி அவர்கள் செய்த மகத்தான தொண்டு. “உலகெங்குமேவிய
          தேவாலயந்தொறு பெருமாளே” என்றும் “சென்றே இடங்கள் கந்தா எனும்போது செஞ்சேவல்கொண்டு வரவேணும்” என்றும்
          அருணகிரிநாதர்
          பாடியிருப்பது போல் குருஜி அவர்கள் எங்கு சென்றாலும் கந்தனைக் காண விழைபவர். பர்மிங்ஹாமில் ஓர் தேவாலயத்தைத்
          தான்
          (கிரிஸ்துவர்கள் தங்கள் கோவிலைத் தேவாலயம் என்று சொல்வதுண்டு) ஸ்ரீ கீதா மந்திராக மாற்றியிருக்கிறார்கள்.
          இந்தத்
          தேவாலயத்தில் தேவஸேனாபதிக்கென்று ஒரு கோவில் வேண்டுமென்று குருஜி அவர்கள் ஆசைப்பட்டதுடன் அவ்வாசை நிறைவேறும்
          வகையில்
          திரு. ராமச்சந்திரன் உபயத்தால் அக்கோவில் உருவுற சஷ்டி தினமாகிய இன்று தீர்மானமாகியதும் ஆண்டவன்
          விளையாட்டன்றோ!அதை
          எண்ணி எண்ணி உள்ளம் பூரித்தோம். இவ்வாறு செயல்பட வைத்த ஆண்டவனுக்கு அஞ்சலி செய்தோம். இவ்வாறாக ஸ்ரீ கீதா
          மந்திர்
          தரிசனத்தை முடித்துக் கொண்டு இலண்டன் திரும்பினோம் இரவு சுமார் 10 மணியளவில். சஷ்டி பஜனைக்கென
          வந்திருந்தவர்களில்
          சிலர் ஏமாற்றமடைந்து சென்றதை எண்ணி மனம் வருந்தினோம். நாம் நினைத்தபடியெல்லாம் காரியங்கள் நடந்து
          விடுகின்றனவா?
          ஆட்டுவிப்பவன் அவனன்றோ!
          இரவு சாப்பாட்டை முடித்துக் கொண்டு ஓய்வு எடுத்துக் கொள்ளச் சென்றோம் .
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>16-9-80 : - செவ்வாய்க்கிழமை</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>இன்று மீண்டும் இலண்டன் மா நகரில் சில முக்கியமான இடங்களையும், பிரசித்தமான கடைகளையும் காணச் சென்றோம்.
          காலையில்
          எட்டரை மணியளவில் டாக்டர் ஆறுமுகம் அவர்கள் எங்களை அழைத்துச் செல்ல வந்திருந்தார். அவருடைய காரிலேயே Elmers
          End என்ற
          இடத்திற்குச் சென்று அங்கிருந்து இரயிலில் இலண்டன் மா நகருக்கு வந்தோம். இலண்டனில் மிகவும் பிரசித்தமான
          கடைவீதி
          ஆக்ஸ்போர்ட் வீதி (Oxford Street) என்பதாகும். அதில் Selfridges, Woolworth, Jhon Lewis, Marks&Spencers,
          B.H.S.,
          Harrods முதலிய பெரிய கடைகள் இருக்கின்றன. ‘Everything Under One Roof’ என்பார்களே அதுபோல் இந்தக் கடைகளில்
          கிடைக்காத
          பொருளே கிடையாது என்றே சொல்லலாம். இவற்றுள் சில கடைகளில் பெரும் பணக்காரர்கள் தாம் பொருட்கள் வாங்க முடியும்
          என்கிறார்கள். வைத்திருக்கும் பொருள்கள் அவ்வளவு நேர்த்தியானவை என்பதோடல்லாமல் அதிக மதிப்பும் உள்ளவை. ஒவ்வொரு
          கடையும்
          ஏழு அல்லது எட்டு மாடி கட்டிடம். ஒவ்வொரு கடையின் நீளம் கிட்டத்தட்ட 400 அடிகள். அதில் முக்கால் பங்காவது
          அகலமிருக்கும். ஒரு கடையினுள் நுழைந்து எல்லாப் பொருட்களையும் கண்ணுற்று வெளியில் வர சில மணி நேரங்கள் ஆகும்.
          Harrods
          என்ற கடையை ஆங்கிலேயர்களே ‘Expensive’ என்கிறார்கள். இங்கிலாந்து தேசத்து ராணி வருடத்தில் சில நாட்கள்
          தேவையானவைகளை
          வாங்க வருகிறாராம். அச்சமயங்களில் மற்றவர்களை இக்கடையில் அனுபதிப்பதில்லையாம். இந்தக் கடையில் முதல் மாடியில்
          நுழைந்ததும் எங்களை பிரமிக்க வைத்தது நறுமணம்தான். பலவகையான வாஸனைப் பொருட்கள், வாசனைப்பூச்சுகள். மற்றொரு
          மாடியில்
          விலையுயர்ந்த இரத்தினங்கள் பொருத்தப்பட்ட ஆபரணங்கள். ஒரு பக்கத்தில் விலை உயர்ந்த கற்கள் குவித்து
          வைத்திருக்கின்றனர்.
          வித விதமான நகைகள், வேலைப்பாடுகள் நிறைந்த அணிகள் எல்லாமாக நாம் இருப்பது பூலோகமா? அல்லது தேவலோகமா? என்று
          ஐயப்பட
          வைக்கின்றன. மேலும் சில மாடிகளில் வைத்திருந்த பொருள்களைக் கண்டோம். விவரித்துக் கொண்டே போகலாம், முடிவே
          இல்லாமல்.
          ஒவ்வொரு கடையிலும் ஓர் மாடியினின்றும் மற்றொரு மாடிக்குச் செல்ல Escalators (மின்சாரத்தினால் இயங்கும்
          ஏணிப்படிகள்)
          என்ற கருவிகள் அமைத்திருக்கின்றனர். படி ஏறி இறங்கத் தேவையில்லை. பொருள்களைக் காண நடக்கும் நடையே போதாதா!
          மறுநாள்
          எங்களுக்குத் தேவையான சாமான்கள் வாங்க விலைகள் நிதானம் தெரிந்து கொள்வதற்காக விலை குறைவாக விற்கும் கடைகளையும்
          பார்த்து மகிழ்ந்தோம்! பிறகு டாக்டர் ஆறுமுகம் அவர்கள் எங்களை இலண்டனிலுள்ள இரண்டு கண்காட்சி சாலைகளுக்கு
          அழைத்துச்
          சென்றார். ஒன்று Science and Technology museum மற்றொன்று கலைப்பொருள்கள் சேர்த்து வைத்திருக்கும் Victoria
          and
          Albert
          Museum என்ற இடம். ஒவ்வொரு நாட்டின் புராதன நாகரிகம். அந்நாடுகள் அறிவு, கலை முதலியவற்றில் எவ்வாறு முன்னேறி
          வந்தன,
          முன்னேறி வருகின்றன என்பன போன்ற விவரங்களை அங்கங்கு வைக்கப்பட்டிருந்த சின்னங்கள், கலைப் பொருட்கள் உணர்த்தின.
          இவை
          யாவற்றையும் கண்டு களித்துவிட்டு மீண்டும் ரயில் மூலமாக புறப்பட்ட இடமான Elmers End என்ற இடத்திற்கு வந்தோம்.
          அங்கிருந்து டாக்டர் ஆறுமுகம் அவர்களின் இல்லத்திற்கு அழைத்துச் செல்லப்பட்டோம். டாக்டர் ஆறுமுகம் ஒரு படித்த
          மேதை.
          விருந்தோம்பலில் முதல்தரம்.அறிவாற்றல் அதிசயத் தக்கது. தனது வீட்டில் மூவாயிரம் புத்தகங்கள் கொண்ட ஒரு
          வாசகசாலையையே
          வைத்திருக்கிறார். சமய நூல்களைக் கற்றறிந்துகொள்ள வேண்டும் என்ற ஆர்வம் கொண்டவர். தமிழ் நாட்டில் பல
          கோயில்களைக்
          கண்டு
          தரிசித்தவர். செல்வம் படைத்தவர். செருக்கற்று பண்பில் மிக்கார்.</p>
        <p>டாக்டர் ஆறுமுகம் எங்களை மீண்டும் திரு. வெங்கட்டராமன் அவர்களின் இல்லத்தில் கொண்டு சேர்த்தார். </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>17-9-80 : - புதன் கிழம</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>இன்றுதான் நாங்கள் சில பொருள்களை வாங்குவதற்குக் கடை வீதிக்குச் சென்றோம். ஒவ்வொரு கடையிலும்
          எல்லாபொருள்களும்
          கிடைக்கின்றன. Pin to elephant என்பார்களே அது போன்று வேண்டிய சாமான்களை வாங்கிக் கொண்டு திரு. வெங்கட்டராமன்
          இல்லம்
          அடைந்தோம்.</p>
        <p>இன்று மாலை Essex என்ற இடத்தில் இருக்கும் டாக்டர் நவரத்னம் என்பவரின் இல்லத்தில் இங்கிருக்கும் சைவ
          முன்னேற்றச்
          சங்கத்தினர் குருஜி அவர்களின் பஜனைக்கு ஏற்பாடு செய்திருந்தனர். சைவ வழிபாட்டிலேஆர்வம் கொண்டுள்ள இச்
          சங்கத்தினர்
          “செய்வன திருந்தச்செய்” என்பதற்கேற்ப முதல்தரமான ஏற்பாடுகள் செய்திருந்தனர். குருஜி அவர்கள் இன்று திருப்புகழ்
          பஜனையாக
          வைத்துக் கொள்ளாமல், கூடியிருந்த சைவ சமயத்தில் பற்றுள்ள மக்கள் அருணகிரிநாதரைப் பற்றியும், அவர் இயற்றியுள்ள
          திருப்புகழ், கந்தரலங்காரம், கந்தரனுபூதி, திருவகுப்புகள் முதலிய நூல்களைப் பற்றியும் தெரிந்துகொள்ள
          வேண்டுமென்ற
          நோக்கத்துடன் தனது நிகழ்ச்சியை ஒரு சங்கீத உபந்யாசமாக வைத்துக்கொண்டார். உபந்யாசம் தொடங்குமுன் சைவ
          முன்னேற்றச்
          சங்கத்தின் செயலாளர் குருஜி அவர்களுக்கு முகமன் கூறி வந்திருந்த மக்களுக்கு குருஜியை அறிமுகப் படுத்தி
          வைத்தார்.
          பிறகு, அவர்கள் கேட்டுக்கொண்டபடி முன்னேற்பாடாக பூஜைக்குத் தயார் செய்து மேடை மீது வைத்திருந்த தெய்வங்களின்
          படங்களுக்குப் பூஜை நடத்திவிட்டு, நிகழ்ச்சியைத் தொடங்கினார் குருஜி அவர்கள் . விரிவாக வழிபாட்டு
          முறைகளைப்பற்றிக்
          கூறி, நடு நடுவே ஓரிரு திருப்புகழ் பாடல்களைப் பாடி அவைகளிலுள்ள தத்துவங்களை விளக்கி முடிவில் கந்தரனுபூதி
          முழுவதையும்
          பாடி தன்னுடைய உபந்யாசத்தை முடித்தார். பாடிய திருப்புகழ் பாடல்கள் ---அந்தகன் வருந்தினம் பிறகிட,
          மாண்டாரெலும்பணியும்
          , முதலியன. நிகழ்ச்சி முடிந்ததும் சங்கத்தின் செயலாளர் திரு. ஆனந்தத் தியாகர் குருஜி அவர்களிடம் இரு கேள்விகள்
          கேட்டு
          விளக்கம் கேட்டார். அவர் கேட்ட கேள்விகள்---1. கந்தரலங்காரத்தில் அருணகிரிநாதர் காவிக்கமலக் கழலுடன் சேர்த்து
          எனைக்
          காத்தருளாய் ’ என்று சொல்லியிருக்கிறாரே அதன் அர்த்தம் என்ன? 2. ‘பாதி மதி’ என்ற திருப்புகழில் ‘குறமகள் பாதம்
          வருடிய
          மணவாளா’ என்று வருகிறதே இதனுடைய தத்வார்த்தம் என்ன? இக்கேள்விகளுக்குத் திருப்புகழ் பாடல்களிலிருந்தும்,
          கந்தரனுபூதியிலிருந்தும் பொருத்தமான அடிகளை எடுத்து விளக்கிப் பதிலளித்தார் குருஜி அவர்கள். இதற்குப்பின் இச்
          சங்கத்தின் தனாதிகாரி திரு. ராமநாதன் நன்றியுரை நவின்றார். பிறகு குழுமியிருந்தவர்கள் விரும்பிக்கேட்ட
          கதிர்காமத்
          தலத்தினைப் பற்றிய திருப்புகழ் பாடல்கள் மூன்றினை 1. எதிரிலாத பத்தி 2. திருமகளுலாவு 3. வருபவர்கள் ஓலை கொண்டு
          ஆகிய
          பாடல்களை குருஜி பாடினார். ‘இறவாமல் பிறவாமல்’ என்ற பாடல் சங்கத்தைச் சேர்ந்தவர்களுக்கும் மற்றும்
          வந்திருந்தவர்களுக்கும் தெரிந்த பாடலாகையால் அப்பாடலையும் பாடும்படிக் கேட்டுக்கொண்டனர். இந்தப் பாட்டில்
          ‘திருப்புகழ்
          மாலை’ புத்தகத்தின் படி கடைசி அட “அறநாலைப் புகல்வோனே, அவிநாசிப் பெருமாளே” என்பதுதான் . ஆனால் இந்நிகழ்ச்சியை
          ஏற்பாடு
          செய்திருந்த யாழ்ப்பாணத் தமிழர்கள் இக்கடைசி அடியை ‘கரவானைக் கிளையோனே கதிர்காமப்பெருமாளே’ என்று
          பாடுகிறார்கள். இது
          பாட பேதம். குருஜி பாடும்போது இந்த இரண்டு அடிகளையுமே பாடினார்கள். </p>
        <p>நிகழ்ச்சி மிக நன்றாக அமைந்தது. வழக்கமாக எல்லா நிகழ்ச்சிகளையும் நாடாவில் பதிவு செய்து கொள்ளும் திரு.
          கனகசபை
          மட்டுமன்றி மற்றும் பலரும் இப்பூரா நிகழ்ச்சியையும் நாடாவில் பதித்துக் கொண்டனர். </p>
        <p>இந்நிகழ்ச்சி முடிவடைந்த போது இரவு 10 மணியாகிவிட்டது. எப்படியாவது இவர்களுக்குச் சுரங்கச் சாலை (Underground
          Road)
          காண்பித்தே தீர வேண்டும் என்று கங்கணம் கட்டிக்கொண்டார் போலும் திரு. கனகசபை அவர்கள். அத்துடன் London by
          Night
          எவ்வாறு இருக்கிறதென்பதையும் ஓரளவு எங்களுக்குக் காண்பிக்க விழைந்தாரோ என்னவோ நாங்கள் எஸ்ஸெக்ஸில் நிகழ்ச்சி
          நடந்த
          இடத்திலிருந்து பத்து மைல்கள் தூரத்தில் வசித்து வரும் திரு. கிருஷ்ணமாச்சாரி என்பவரின் இல்லத்தை அடைவதற்காக
          ஏற்கனவே
          தீர்மானித்தபடி காரில் ஏறி உட்கார்ந்ததுதான் தாமதம் திரு. கனகசபை காரை வேறு திசையாகச் செலுத்தி நேராக மத்திய
          இலண்டன்
          நகருக்கு எங்களைக் கூட்டிச் சென்றார். ஆனால் பாவம்! இந்த முறையும் அவருக்கு ஏமாற்றம்தான் . இன்னும் சுரங்கச்
          சாலை
          போக்குவரத்துக்காகத் திறக்கப் படாமலிருந்தது. இருந்தாலும் விட்டார் இல்லை மனிதர்! வேறொரு சிறிய சுரங்கச் சாலை
          வழியாகக்
          காரைச் செலுத்திச் சென்று ‘இம்மாதிரிதான் அப்பெரிய சுரங்கப்பாதையும் இருக்கும், இந்தச் சாலையைவிட அது மிக
          நீண்ட
          சாலை,
          அவ்வளவுதான்’. என்று கூறி ஓரளவிற்குச் சுரங்கச் சாலையைக் காண்பித்துவிட்டோம் என்ற மன நிறைவுடன் மேலும் காரைச்
          செலுத்திச் சென்றார். இரவு நேரத்திலும் ஆள் நடமாட்டம் அதிகமில்லை என்பதைத் தவிர பல வர்ண விளக்குகளுடன் இலண்டன்
          மாநகரம்
          பொலிவுடன் விளங்கிற்று. </p>
        <p>இரவு ஒரு மணி சுமாருக்கு (ஆங்கில கால முறைப்படி மறு நாள் காலை) திரு. கிருஷ்ணமாச்சாரி என்பவரின் இல்லத்தை
          அடைந்தோம்
          .
          திருமதி கமலா கிருஷ்ணமாச்சாரி, டில்லியில் இருந்த சமயத்தில் திருமதி குமாரி லக்ஷ்மி நாராயணன் நடத்தி வந்த
          மாதர்கள்
          வகுப்பில் திருப்புகழ் கற்றுக் கொண்டவர். (ஞாயிறன்று நடந்த நிகழ்ச்சியில் குருஜியுடன் திருமதி கமலா
          கிருஷ்ணமாச்சாரியும், திருமதி வெங்கட்டராமன் அவர்களும் மேடையில் அமர்ந்து பங்கெடுத்துக் கொண்டனர்.)
          அகாலமாகிவிட்டிருந்தாலும் கிருஷ்ணமாச்சாரி தம்பதிகள் எங்கள் வரவை ஆவலுடன் எதிர்பார்த்துக் கொண்டிருந்தனர்.
          எங்களை
          வரவேற்று உபசரித்தனர். சிறிது நேரம் அவர்களுடன் பேசிக்கொண்டிருந்துவிட்டு ஓய்வு பெறச் சென்றோம் . </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>18-9-80 : - வியாழக்கிழம</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>காலை சுமார் பதினொன்று மணியளவில் திரு. கனகசபை அவர்கள் எங்களை திரு. கிருஷ்ணமாச்சாரி அவர்களின்
          இல்லத்திலிருந்து
          தன்னுடைய இல்லத்திற்கு அழைத்துச் சென்றார். குருஜி அவர்களைத் தன் இல்லத்திற்கு அழைத்துச் சென்று அவரைச் சில
          பாடல்களைப்
          பாடச் சொல்லி நாடாவில் பதித்துக் கொள்ள வேண்டு மென்று மிகவும் ஆவலாய் இருந்தவர். திரு. கனகசபை, அந்த ஆவலைப்
          பூர்த்தி
          செய்து கொள்ளவே குருஜி அவர்களைத் தன்னுடைய இல்லத்திற்கு அழைத்துச் சென்றார். அவர் குருஜி அவர்களுக்கு
          பிரிட்டானிகா-ஹிந்து முருகன் கோவில் ஆரம்பமான விவரங்களையும், அக்கோவில் கட்டுவதற்காக இடம் வாங்கி விக்ரஹம்
          வைத்து
          ஆராதனை செய்து வந்த விவரங்களையும், எவ்வாறு பின்னால் தனிப்பட்ட ஒருவர், இந்த முருகன் கோவில் உருவாகக் காரணமாக
          இருந்தவர்களில் ஒருவர், தன்னுடைய சுயேச்சாதிகாரமாகக் காரியங்கள் செய்ய முடியவில்லையென்ற காரணத்தினல்
          விக்ரஹத்தையே
          தன்னுடைய சுய சொத்தாக ஆக்கிக் கொண்டு மற்றவர்கள் ஆராதனை செய்யவும் அனுமதிக்காமல் இருந்ததால் அவர்களுக்குள்
          பிளவு
          ஏற்பட்ட விவரங்களையும், இந்த பிரிட்டானிகா-இந்து முருகன் கோயிலை உருவாக்கிய சிலர் எவ்வாறு அந்த
          டிரஸ்டிலிருந்து
          பிரிந்து ஸ்ரீ கணபதி டிரஸ்டை ஏற்படுத்தினார்கள் என்ற விவரங்களையும் சொன்னார். அதற்குப் பிற்பாடு திரு. கனகசபை
          அவர்கள்
          கேட்டுக்கொண்ட பிரகாரம் குருஜி அவர்கள் தேவாரம், திருவாய்மொழி, திருமுருகாற்றுப்படை முதலிய சமய
          நூல்களிலிருந்து பல
          பாடல்களைப் பாட திரு. கனகசபை அவர்கள் அவற்றை நாடாவில் பதித்துக் கொண்டார். பிறகு அவருடைய பூஜை அறையில்
          வைத்திருந்த
          தெய்வப் படங்களுக்குத் பூஜை செய்து பிரசாதம் சாப்பிட்டுவிட்டு அங்கிருந்து நேராக திரு. கனகசபை அவர்களின்
          காரிலேயே
          India House வந்தடைந்தோம் .</p>
        <p>இன்றைய நாள் குருஜியின் வாழ் நாட்களில் மறக்க முடியாத ஒரு நாளாகும். இந்தியாவிலிருந்து இலண்டனுக்குத்
          திருப்புகழின்
          அருமை பெருமைகளை எடுத்துக் கூற வந்திருக்கும் குருஜியை இன்று இலண்டனிலுள்ள British Broadcasting Corporation
          (B.B.C.)
          அழைத்து நேர்முக பேட்டி நிகழ்ச்சி ஒன்றை நடத்த ஏற்பாடு செய்து கௌரவித்தது. மறக்க முடியாத நிகழ்ச்சி. சரியாக
          ஆறு
          மணிக்கு இந்த நிகழ்ச்சி ஏற்பாடாகியிருந்தது. இந்நிகழ்ச்சியில் பங்கெடுத்துக் கொண்டவர்கள் B.B.C. யின் அந்நிய
          நாட்டுப்
          பிரிவில் இந்தியா சம்பந்தமான நிகழ்ச்சிகளைத் தொகுத்து அளித்துவரும் திரு. சங்கரமூர்த்தி அவர்களும் குருஜி
          அவர்களும்தான். திரு சங்கர மூர்த்தி அவர்கள் குருஜியிடம் அவருடைய வாழ்க்கை வரலாறு, அவர் திருப்புகழில்
          ஆர்வங்காட்டி
          அப்பாடல்களைப்பாடிப் பரப்புவதற்குக் காரணமாயிருந்த சம்பவங்கள், திருப்புகழ் பாக்களிலுள்ள மொழி, நயம், இசை, லய
          (தாளம்)
          நயங்கள், சந்தத் தாளங்கள் முதலியனவைகளைப் பற்றியும், மேன்மேலும் இத் திருப்புகழ் பலராலும் பாடப்பெறுவதற்கு
          அவர்
          செய்து
          வரும் தொண்டு, வருங்கால இளைஞர்களுக்கு அத் தொண்டு எவ்வாறு பயனுள்ளதாக இருக்கும், இன்னும் இதுபோன்ற பல
          விஷயங்களைப்
          பற்றிக் கேள்விகள் கேட்டு குருஜி அவர்களை இவற்றிற்கான பதில்களை ஓர் விளக்கமாக அளிக்கும்படியும், சந்தத்
          தாளத்தை
          விளக்கி அதன் அழகை எடுத்துக் காட்ட ஓர் திருப்புகழ் பாடலைப் பாடும்படியும் கேட்டுக் கொண்டதற்கேற்ப குருஜி
          அவர்கள்
          எல்லோரும் பாராட்டும் வகையில் விளக்கம் கூறி “சந்ததம் பந்தத் தொடராலே” என்னும் பாட்டையும் பாடி தாளத்தின்
          சிறப்பையும்
          விவரித்துக் கூறினார். இந்த நிகழ்ச்சி முடிவுற அரை மணி நேரமாயிற்று. அதன் பிறகு நாங்கள் திரு. வெங்கட்டராமன்
          அவர்கள்
          இல்லமடைந்து அங்கு ஒன்றரை மணி நேரம் திருப்புகழ் பஜனை செய்தோம். அன்று திரு. வெங்கட்டராமனின் மூத்த பையனின்
          பிறந்த
          நாளாக இருக்கவே குருஜி அவர்கள் வழக்கமாக முறைப்படி நடத்தும் திருப்புகழ் பஜனையாகவே இந்த பஜனையை நடத்த
          வேண்டுமென்று
          விரும்பினார். அதன்படி பஜனையும் அமைந்தது. இதுதான், இலண்டனில், டில்லியில் நாம் வழக்கமாக நடத்தும் திருப்புகழ்
          பஜனை
          போன்று நடந்த பஜனை. ஞாயிற்றுக் கிழமை நிகழ்ச்சி மேடை போட்டுக் கச்சேரி பாணியில் இருந்தது. புதன் கிழமையன்று
          சைவ
          முன்னேற்ற சங்கத்தினரால் ஏற்பாடாகியிருந்த நிகழ்ச்சி சங்கீத உபந்யாசமாக அமைந்தது. மனதிற்கு நிறைவு தந்தது.
          திரு.
          வெங்கட்டராமன் வீட்டில் நடந்த பஜனையே ஆகும் . இதைப் பூராவுமாக திரு. கனகசபை நாடாவில் பதித்துக் கொண்டார். பஜனை
          முடியும் சமயத்தில், மறு நாள் எங்களை இந்தியாவுக்கு வழியனுப்புவதற்காக விமானக் கூடம் வர இயலாது என்று நினைத்த
          திரு.
          எம். டி. ராஜா தம்பதிகள், திரு. கந்தய்யா தம்பதிகள் அன்னாரின் குழந்தைகள் ஆகியோர் எங்களைச் சந்திக்க வந்தனர்.
          இரவு
          11.30 மணி வரை எங்களிடம் பேசிக்கொண்டிருந்துவிட்டு அவர்கள் விடை பெற்றுச் சென்றனர். திருமதி ராஜா அவர்கள்
          குருஜியிடமிருந்து தெய்வ வழிபாடு உபாசனை போன்ற விஷயங்களைத் தெளிவாகத் தெரிந்துகொண்டு விடை பெற்றார் .</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>19-9-80 : - வெள்ளிக்கிழம</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>இன்று காலையில் எழுந்து குளித்துவிட்டு முந்தின நாள் வாங்க இயலாமல் விட்டுப் போன சில சாமான்களை வாங்க திரு.
          வெங்கட்டராமன் வீட்டின் பக்கத்திலேயே இருக்கும் கடை வீதிக்குச் சென்று வாங்க விரும்பியவைகளை வாங்கிக் கொண்டு
          வீடு
          திரும்பினோம். பிறகு சாப்பிட்டுவிட்டு விமானக் கூடம் செல்ல ஆயத்தமானோம். திரு. கந்தய்யா அவர்கள் எங்களை
          அழைத்துப்
          போக
          வந்திருந்தார். பகல் 12 மணிக்கு விமானக் கூடம் அடைந்து எங்களது சாமான்களை எடை போட்டு ஒப்புவித்த பிறகு எங்களை
          வழியனுப்ப வந்திருந்த திரு. பரஞ்சோதி அவர்கள், திரு. சதாசிவம், திரு. வெங்கட்டராமன், திரு. கந்தய்யா
          முதலியவர்களிடம்
          சிறிது நேரம் பேசிக்கொண்டிருந்துவிட்டு அவர்களிடம் விடை பெற்றுச் சென்றோம். நாங்கள் மேற்கூறியவர்களுடன் சில
          நாட்கள்தான் பழகி வந்தோமென்றாலும், அவர்கள் உளங்கனிந்த அன்போடு எங்களுக்கு விடை கொடுத்த போது எங்கள் நெஞ்சம்
          நெகிழ்ந்தது. கண்களில் நீர் முட்டியது. மீண்டும் எப்போது சந்திப்போமோ என்ற ஏக்கம் ஏற்பட்டது.</p>
        <p>இலண்டனிலிருந்து அவ்விட நேரப்படி இரண்டேகால் மணிக்குப் புறப்பட்ட ஆகாய விமானம் எங்களை மாஸ்கோவில் மாஸ்கோ
          நேரப்படி
          எட்டரை மணிக்குக் கொண்டு சேர்த்தது. இரண்டு மணி நேர அவகாசத்திற்குப் பின் மாஸ்கோவிலிருந்து டில்லிக்குப்
          புறப்பட்டோம்.
          இருபதாம் தேதி காலை இந்திய நேரப்படி ஏழு மணி சுமாருக்கு விமானம் ‘பாலம்’ ஆகாய விமானக் கூடத்தில் இறங்கியது.
          நாங்கள்
          விமானத்திலிருந்து இறங்கி விமான நிலயத்தை அடைந்தபோது திரு. குரு மூர்த்தியும், குமாரி உஷாவும் எங்களை
          எதிர்கொண்டு
          அழைக்க வந்தனர், நாங்கள் எங்கள் பாஸ்போர்ட்டில் டில்லி திரும்பிய விவரத்தைக் குறித்துக் கொள்ள அதற்கென ஏற்பட்ட
          இடத்திற்குச் சென்ற போது மேல் மாடியில் இருந்தபடியே திரு. சிதம்பர அய்யர் தம்பதிகளும் குருஜி அவர்களின்
          வாழ்க்கைத்
          துணைவியும் எங்களை வரவேற்றனர். அரசாங்க நியமங்களுக்கு ஏற்ப செய்ய வேண்டிய காரியங்களை முடித்துக் கொண்டு
          வெளியில்
          வந்தோம். வெளியில் குருஜி அவர்களைக் காண ஆவலுடன் காத்திருந்த திருப்புகழ் அன்பர்களான திரு. சுப்பிரமணியம்,
          திரு.
          கிருஷ்ணமூர்த்தி, திரு. மஹாலிங்கம், திரு. மணி, திரு. சுப்பையா இன்னும் குருஜியின் குடும்பத்தினர், என்னுடைய
          குடும்பத்தினர் மற்றும் ஏனையோர் எங்களைக் கண்டு பெரு மகிழ்ச்சி அடைந்தனர். மணி எங்களுக்கு மாலை அணிவிக்க,
          சிலர்
          அந்தக்
          காட்சியைப் புகைப்படமெடுக்கக் குழுமியிருந்தவர்கள் மனதில் எழுந்த ஆனந்தத்திற்கு அளவில்லை. பின்பு ஒருவரை
          யொருவர்
          சந்தித்துப் பேசினோம். அன்பரில் ஒருவர் எல்லோருடைய களைப்பைப் போக்கவும், நாங்கள் இலண்டன் பயணத்தை வெற்றிகரமாக
          முடித்துக் கொண்டு திரும்பியதைக் கொண்டாடுவதற்கும், வந்திருந்த அன்பர்களுக்குப் பானங்கள் வழங்க ஏற்பாடு
          செய்தார்.
          குழுமியிருந்த எல்லோருடனும் சில புகைப்படங்கள் எடுத்துக்கொண்டுவிட்டு எல்லோரிடமும் விடை பெற்று தங்கள் தங்கள்
          இல்லம்
          ஏகினோம் . </p>
        <p>குருஜியின் இந்த இலண்டன் விஜயம் திருப்புகழ் அன்பர்களுக்குப் பெருமை தேடித் தருகின்ற வகையில் அமோகமான வெற்றி
          விஜயமாக
          அமைந்தது. இந்த விஜயம் பலவிதங்களில் சிறப்புற்று விளங்கியது. முதலாவதாக, திருப்புகழின் பெருமையைப் பற்றி வெளி
          நாட்டவர்களுக்கும் கூற குருஜி அவர்கள் மேற்கொண்ட முதல் வெளி நாட்டு யாத்திரை இதுவேயாகும். இரண்டாவதாக, “
          மாசிலடியார்கள் வாழ்கின்ற ஊர் சென்று தேடி விளையாடியே அங்ஙனே நின்று வாழும் மயில் வீரனே” என்று அருணகிரிநாதர்
          கூறியது
          போல் இலண்டனில் இருக்கும் அடியார்களின் மனத்திலும், நாவிலும் முருகன் குடிகொண்டிருக்கும் பான்மையை அறிய
          உதவியது
          இவ்விஜயம். மூன்றாவதாக, வள்ளுவர் “அன்பிற்கும் உண்டோ அடைக்கும் தாழ்” என்றது போல உள்ளத்தில் அன்பு வெள்ளம்
          ஆறாகப்
          பெருக இறைபணியே நிறைபணியாகக் கொண்டு, மறையோதமாட்டாரெனினும் குறையின்றிக் குமரனை வாழ்த்தி வணங்கக் குணம் பூண்ட
          குற்றமற்ற சீலத்தவர்களைக் குமரனுக்கோர் சந்நிதி ஸ்ரீ கீதா பவன் மந்திரில் எழுப்பத் தூண்டுகோலாக உதவியது
          இவ்விஜயம்.
          முருகன் புகழ் பாடி முழு மூச்சுடன் அவன் தொண்டிலேயே தனது வாழ்நாட்களைக் கழித்து வரும் குருஜி அவர்கள்
          பர்மிங்ஹாம்
          கீதா
          மந்திரில் முருகனுக்கென்று கோயில் எழுப்ப ஏற்பாடு செய்வித்தது அவன் புகழ் பாடும் அன்பர்களுக்குப் பெருமை
          தருவதன்றோ!
          நான்காவதாக, “ குற்றமற்றவர் உளத்தில் உறைவோனே! குக்குடக் கொடி தரித்த பெருமாளே!” என்பதற்கேற்ப குழந்தைகளின்
          உள்ளத்தில்
          குமரனைக் கண்டார் குருஜி அவர்கள். அக்குமரனைப்பாடி வணங்க அக்குழந்தைகளுக்கென ஓர் திருப்புகழ் வகுப்பு
          இலண்டனில்
          தொடங்கப்பட்டது இவ்விஜயத்தின் போதுதான். ஐந்தாவதாக, இலண்டன் வாழ் ஈழ நாட்டுத் தமிழர்களும், இந்திய நாட்டுத்
          தமிழர்களும் மட்டுமன்றி வேறு நாடுகளிலுள்ள தமிழர்களும் ஓரளவு சற்குரு அருணகிரிநாதரின் வாழ்க்கையைப் பற்றித்
          தெரிந்து
          கொள்ளவும், அவர் இயற்றிய திருப்புகழ், இன்னும் மற்றைய சிறப்பையும், சந்தப் பாக்களைப் பாடவேண்டிய
          முறைகளைப்பற்றியும்
          தெரிந்துகொள்ளவும் உதவியாக அமைந்தது இவ்விஜயம். இந்த வகையில்குருஜி அவர்களின் B.B.C. யில் பதிவாக்கப்பட்ட
          விளக்கவுரையும், சைவ முன்னேற்றச் சங்கத்தின் சார்பில் ஏற்பாடாகியிருந்த சங்கீத உபந்யாஸமும் குறிப்பிடத்தக்கன.
          கடைசியாக, “சிங்களத் தீவினுக்கோர் பாலமமைப்போம்” என்று பாடினார் கவி சுப்பிரமண்ய பாரதியார். குருஜியின்
          இலண்டன்
          விஜயம்
          அங்கு வாழ் சிங்களத் தமிழர்களையும், இந்தியாவில் உள்ள திருப்புகழ் அன்பர்களையும் இணைக்கும் அன்புப் பாலமாக
          அமைந்தது
          மற்றோர் சிறப்பான அம்சமாகும் .</p>
        <p>வாழ்க திருப்புகழ்! வாழ்க திருப்புகழ் அன்பர்கள்!</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>


