
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Event</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h4>  <mat-icon mat-list-icon color="primary">date_range</mat-icon> {{event.date}}</h4>
    <p class="mat-typography mat-body">{{event.event}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="closeBottomSheet()">Close</button>
  </mat-card-actions>
</mat-card>
