<mat-card class="example-card">
  <mat-card-header>
  </mat-card-header>
  <mat-card-content>
    <div class="row p-md-10 p-md-2 p-0 m-md-1">
      <div class="col-md-6 m-auto">
        <router-outlet></router-outlet>
      </div>
      <div class="col-md-6 mt-2 m-sm-auto" style="max-width: 25rem;">
        <mat-card class="example-card text-center">
          <img mat-card-image src="../../../assets/aboutGuruji/guru-1-min.webp" alt="Sign-in-image">
          <mat-card-content>
            <p><strong>Guruji Sri A.S. Raghavan</strong></p>
            <p>4th Sep 1928 - 17th May 2013</p>
            <p><strong>Guruji Mami Smt Janaki Raghavan</strong></p>
            <p>16th Oct 1935 - 10th Feb 2018</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
