<mat-card class="major-events-card">
  <mat-card-header>
    <mat-card-title>Major Events Of Thiruppugazh Movement</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-event [events]="events"></app-event>
  </mat-card-content>
</mat-card>
