<div class="row">
  <div class="col-md-12">
    <p class="mat-typography ml-3">Check out
      <button mat-button color="primary" [routerLink]="['/welcome','AboutGuruji']" class="p-1">
        About Guruji
      </button>
      to get a deeper insight into the thiruppugazh Movement.
    </p>
  </div>
</div>
