<form [formGroup]="playlistForm" class="form-group" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-8">
      <h1 mat-dialog-title>Save playlist</h1>
    </div>
    <div class="col-4 text-right">
      <h5><span class="badge badge-pill badge-dark">#{{dataSource.data.length}}</span></h5>
    </div>
  </div>
  <div mat-dialog-content>
    <ng-container *ngIf="dataSource.data.length > 0">
      <div class="row">
        <div class="col-md-12 box overflow-auto">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 width-1500">
            <ng-container matColumnDef="song name">
              <th mat-header-cell *matHeaderCellDef>Song Name</th>
              <td mat-cell *matCellDef="let element"><a [href]="element.songUrl"
                                                        target="_blank">{{element.songName}}</a></td>
            </ng-container>

            <ng-container matColumnDef="new number">
              <th mat-header-cell *matHeaderCellDef> New Number</th>
              <td mat-cell *matCellDef="let element"> {{element.newNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="old number">
              <th mat-header-cell *matHeaderCellDef> Old Number</th>
              <td mat-cell *matCellDef="let element"> {{element.oldNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="ragam">
              <th mat-header-cell *matHeaderCellDef> ragam</th>
              <td mat-cell *matCellDef="let element"> {{element.ragam}} </td>
            </ng-container>

            <ng-container matColumnDef="thalam">
              <th mat-header-cell *matHeaderCellDef> thalam</th>
              <td mat-cell *matCellDef="let element"><a [href]="element.thalamUrl"
                                                        target="_blank">{{element.thalam}}</a></td>
            </ng-container>

            <ng-container matColumnDef="tamil meaning">
              <th mat-header-cell *matHeaderCellDef> tamil meaning</th>
              <td mat-cell *matCellDef="let element"><a [href]="element.tamilMeaningUrl"
                                                        target="_blank">{{element.tamilMeaning}}</a></td>
            </ng-container>

            <ng-container matColumnDef="meaning">
              <th mat-header-cell *matHeaderCellDef> meaning</th>
              <td mat-cell *matCellDef="let element"> {{element.meaning}} </td>
            </ng-container>

            <ng-container matColumnDef="classify1">
              <th mat-header-cell *matHeaderCellDef> classify1</th>
              <td mat-cell *matCellDef="let element"> {{element.classify1}} </td>
            </ng-container>

            <ng-container matColumnDef="classify2">
              <th mat-header-cell *matHeaderCellDef> classify2</th>
              <td mat-cell *matCellDef="let element"> {{element.classify2}} </td>
            </ng-container>

            <ng-container matColumnDef="classify3">
              <th mat-header-cell *matHeaderCellDef> classify3</th>
              <td mat-cell *matCellDef="let element"> {{element.classify3}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="removeRow(row)">
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="width-1500"></mat-paginator>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="dataSource.data.length === 0">
      <div class="row">
        <div class="col-12 text-center">
          <mat-card-subtitle>You have no removed all songs</mat-card-subtitle>
          <hr/>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="dataSource.data.length > 0">
      <div class="row mt-2">
        <div class="col-md-12">
          <p>Please give a name to the playlist</p>
          <mat-form-field class="w-100">
            <input matInput placeholder="Name" [errorStateMatcher]="matcher" formControlName="playListName"
                   [(ngModel)]="data.playlistName">
            <mat-error *ngIf="playlistForm.get('playListName').invalid">
              Please give <strong>playlist name</strong>
            </mat-error>
          </mat-form-field>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="w-100">
          <textarea matInput placeholder="Description" [errorStateMatcher]="matcher" #description
                    formControlName="description"
                    [(ngModel)]="data.description" maxlength="256"></textarea>
            <mat-hint align="end">{{description.value.length}} / 256</mat-hint>
            <mat-error *ngIf="playlistForm.get('description').invalid">
              Please enter the <strong>description</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </ng-container>
  </div>
  <div mat-dialog-actions>
    <button type="button" mat-button (click)="onNoClick()">Close</button>
    <button type="submit"  mat-button [disabled]="dataSource.data.length === 0">Save
    </button>
  </div>
</form>

