/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";
@import "~firebaseui/dist/firebaseui.css";


body {
  font-family: 'Roboto', 'Lato', sans-serif !important;
  min-width: 420px !important;
}


.bg-custom-333 {
  background: #333 !important;
}


hr {
  border-top: 1px solid #808e9b !important;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.mat-paginator-container {
  width: auto !important;
}

.mat-tab-body-content {
  overflow: hidden !important;
}


.box {
  overflow: scroll;
}

.width-1500 {
  width: 1500px !important;
}

.fixed-top {
  z-index: 1000 !important;
}

.pointer {
  cursor: pointer !important;
}

button:focus {
  outline: transparent !important;
}

.mat-drawer-container {
  height: auto !important;
}
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
