.h-500{
  min-height: 500px;
}
.f-w-400{
  font-weight: 400;
}
.bg-img{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)),url("../../assets/home/home-min.webp");
  background-size: cover;
}
