<div class="row">
  <div class="col-md-12">
    <mat-card class="h-500 bg-img text-white">
      <mat-card-header>
        <mat-card-title>
          <h2 class="mat-headline  f-w-400">
            Welcome to Thiruppugazh Anbargal
          </h2>
        </mat-card-title>
        <mat-card-subtitle class="text-white">
          <ng-container *ngIf="(authStore| async).user">{{(authStore | async).user.displayName}}
          </ng-container>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-12">
            <app-body-links></app-body-links>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-list>
              <mat-list-item class="text-white">
                <mat-icon matListIcon color="primary">mail</mat-icon>
                <p matLine>
                  Reach us at <a mat-button color="accent" class="p-1"
                                 href="javascript:void(0)">thirupanbar@gmail.com</a>
                </p>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
