<div class="row">
  <div class="col-md-7">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Delhi
          </mat-panel-title>
          <mat-panel-description class="d-block text-right">
            <mat-icon color="accent">place</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h2 class="mat-h2 mat-headline">Thiruppugazh activities in Delhi</h2>
        <p>Guruji started this movement in Delhi and it has spread world over.He used to conduct cl;asses and
          bhajans almost all 7 days of the week and return home by 9 pm every day.There are several classes
          conducted by anbars across the city.</p>
        <app-two-table [table]="delhi"></app-two-table>
        <mat-list>
          <h3 mat-subheader>Contact persons in Delhi</h3>
          <mat-list-item *ngFor="let contact of delhiC">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example call icon">call</mat-icon>
            <h4 mat-line>{{contact.name}}</h4>
            <p mat-line> {{contact.phone}} </p>
          </mat-list-item>
        </mat-list>
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>


      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Chennai
          </mat-panel-title>
          <mat-panel-description class="d-block text-right">
            <mat-icon color="accent">place</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h2 class="mat-h2 mat-headline">Thiruppugazh activities in Chennai</h2>
        <app-chennai-table [table]="chennai"></app-chennai-table>
        <p>All events are well attended.By the grace of Senthil andavan the thiruppugazh wave started by Guruji in Delhi
          has spread far and wide and taken Chenna,i the land of Tamilians by storm.There are a team of teachers ,the
          Doyen among them is Smt Alamelu Santanam</p>
        <mat-list>
          <h3 mat-subheader>Contact persons in Chennai</h3>
          <mat-list-item *ngFor="let contact of chennaiC">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example call icon">call</mat-icon>
            <h4 mat-line>{{contact.name}}</h4>
            <p mat-line> {{contact.phone}} </p>
          </mat-list-item>
        </mat-list>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>


      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Bombay
          </mat-panel-title>
          <mat-panel-description class="d-block text-right">
            <mat-icon color="accent">place</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h2 class="mat-h2 mat-headline">Thiruppugazh activities in Bombay</h2>
        <p>About 40 Classes under 20 teachers</p>
        <app-two-table [table]="bombay"></app-two-table>
        <mat-list>
          <h3 mat-subheader>Contact persons in Bombay</h3>
          <mat-list-item *ngFor="let contact of bombayC">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example call icon">call</mat-icon>
            <h4 mat-line>{{contact.name}}</h4>
            <p mat-line> {{contact.phone}} </p>
          </mat-list-item>
        </mat-list>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>


      <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Banglore
          </mat-panel-title>
          <mat-panel-description class="d-block text-right">
            <mat-icon color="accent">place</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h2 class="mat-h2 mat-headline">Thiruppugazh activities in Banglore</h2>
        <app-two-table [table]="bangolore"></app-two-table>
        <p>Classes are conducted in several places throughout the week.</p>
        <mat-list>
          <h3 mat-subheader>Contact persons in Banglore</h3>
          <mat-list-item *ngFor="let contact of bangloreC">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example call icon">call</mat-icon>
            <h4 mat-line>{{contact.name}}</h4>
            <p mat-line> {{contact.phone}} </p>
          </mat-list-item>
        </mat-list>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>


      <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Hyderabad
          </mat-panel-title>
          <mat-panel-description class="d-block text-right">
            <mat-icon color="accent">place</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h2 class="mat-h2 mat-headline">Thiruppugazh activities in Hyderabad</h2>
        <p>Classes are held on all days of the week at various places by several teachers for last 30 yrs</p>
        <h4 class="mat-h4 mat-headline">Monthly TIVs</h4>
        <app-three-table [table]="hyd1"></app-three-table>
        <h4 class="mat-h4 mat-headline">Annual Events</h4>
        <p>Ashtothra shatha TIV</p>
        <app-three-table [table]="hyd2"></app-three-table>
        <h4 class="mat-h4 mat-headline">Other Bhajans</h4>
        <app-three-table [table]="hyd3"></app-three-table>
        <h4 class="mat-h4 mat-headline">Abhirami Andadi and Pathikam</h4>
        <app-three-table [table]="hyd4"></app-three-table>
        <mat-list>
          <h3 mat-subheader>Contact persons in Hyderabad</h3>
          <mat-list-item *ngFor="let contact of hydC">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example call icon">call</mat-icon>
            <h4 mat-line>{{contact.name}}</h4>
            <p mat-line> {{contact.phone}} </p>
          </mat-list-item>
        </mat-list>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>


      <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Pune
          </mat-panel-title>
          <mat-panel-description class="d-block text-right">
            <mat-icon color="accent">place</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h2 class="mat-h2 mat-headline">Thiruppugazh activities in Pune</h2>
        <p>Classes are conducted in different places by a team of teachers.</p>
        <app-two-table [table]="pune"></app-two-table>
        <p>Every month we participate in the Laksha archanai.</p>
        <p>Group efforts are taken for ‘kummi aattam’ in all functions</p>
        <mat-list>
          <h3 mat-subheader>Contact persons in Pune</h3>
          <mat-list-item *ngFor="let contact of puneC">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example call icon">call</mat-icon>
            <h4 mat-line>{{contact.name}}</h4>
            <p mat-line> {{contact.phone}} </p>
          </mat-list-item>
        </mat-list>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>


      <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Coimbatore
          </mat-panel-title>
          <mat-panel-description class="d-block text-right">
            <mat-icon color="accent">place</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h2 class="mat-h2 mat-headline">Thiruppugazh activities in Coimbatore</h2>
        <p>Classes are held at various places in the city.</p>
        <p>Arunagirinathar vizha Aug 15 Bharatiya Vidya Bhavan</p>
        <app-two-table [table]="coimbatore"></app-two-table>
        <mat-list>
          <h3 mat-subheader>Contact persons in Coimbatore</h3>
          <mat-list-item *ngFor="let contact of coimbatoreC">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example call icon">call</mat-icon>
            <h4 mat-line>{{contact.name}}</h4>
            <p mat-line> {{contact.phone}} </p>
          </mat-list-item>
        </mat-list>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>


      <mat-expansion-panel [expanded]="step === 7" (opened)="setStep(7)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Thiruvananthapuram
          </mat-panel-title>
          <mat-panel-description class="d-block text-right">
            <mat-icon color="accent">place</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h2 class="mat-h2 mat-headline">Thiruppugazh activities in Thiruvananthapuram</h2>
        <app-three-table [table]="thiruvananthapuram"></app-three-table>
        <mat-list>
          <h3 mat-subheader>Contact persons in Thiruvananthapuram</h3>
          <mat-list-item *ngFor="let contact of thiruC">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example call icon">call</mat-icon>
            <h4 mat-line>{{contact.name}}</h4>
            <p mat-line> {{contact.phone}} </p>
          </mat-list-item>
        </mat-list>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>


      <mat-expansion-panel [expanded]="step === 8" (opened)="setStep(8)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Baroda
          </mat-panel-title>
          <mat-panel-description class="d-block text-right">
            <mat-icon color="accent">place</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h2 class="mat-h2 mat-headline">Thiruppugazh activities in Baroda</h2>
        <app-three-table [table]="baroda"></app-three-table>
        <mat-list>
          <h3 mat-subheader>Contact persons in Baroda</h3>
          <mat-list-item *ngFor="let contact of barodaC">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example call icon">call</mat-icon>
            <h4 mat-line>{{contact.name}}</h4>
            <p mat-line> {{contact.phone}} </p>
          </mat-list-item>
        </mat-list>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>


      <mat-expansion-panel [expanded]="step === 9" (opened)="setStep(9)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Kolkata
          </mat-panel-title>
          <mat-panel-description class="d-block text-right">
            <mat-icon color="accent">place</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h2 class="mat-h2 mat-headline">Thiruppugazh activities in Kolkata</h2>
        <app-three-table [table]="kolkata"></app-three-table>
        <mat-list>
          <h3 mat-subheader>Contact persons in Kolkata</h3>
          <mat-list-item *ngFor="let contact of kolkattaC">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example call icon">call</mat-icon>
            <h4 mat-line>{{contact.name}}</h4>
            <p mat-line> {{contact.phone}} </p>
          </mat-list-item>
        </mat-list>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 10" (opened)="setStep(10)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Toronto
          </mat-panel-title>
          <mat-panel-description class="d-block text-right">
            <mat-icon color="accent">place</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h2 class="mat-h2 mat-headline">Thiruppugazh activities in Toronto</h2>
        <app-two-table [table]="toronto"></app-two-table>
        <mat-list>
          <h3 mat-subheader>Contact persons in Toronto</h3>
          <mat-list-item *ngFor="let contact of torontoC">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example call icon">call</mat-icon>
            <h4 mat-line>{{contact.name}}</h4>
            <p mat-line> {{contact.phone}} </p>
          </mat-list-item>
        </mat-list>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 11" (opened)="setStep(11)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            New Jersey
          </mat-panel-title>
          <mat-panel-description class="d-block text-right">
            <mat-icon color="accent">place</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h2 class="mat-h2 mat-headline">Thiruppugazh activities in New Jersey</h2>
        <mat-list>
          <h3 mat-subheader>Contact persons in New Jersey</h3>
          <mat-list-item *ngFor="let contact of newJerseyC">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example call icon">call</mat-icon>
            <h4 mat-line>{{contact.name}}</h4>
            <p mat-line> {{contact.phone}} </p>
          </mat-list-item>
        </mat-list>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 12" (opened)="setStep(12)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Chicago
          </mat-panel-title>
          <mat-panel-description class="d-block text-right">
            <mat-icon color="accent">place</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h2 class="mat-h2 mat-headline">Thiruppugazh activities in Chicago</h2>
        <mat-list>
          <h3 mat-subheader>Contact persons in Chicago</h3>
          <mat-list-item *ngFor="let contact of chicagoC">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example call icon">call</mat-icon>
            <h4 mat-line>{{contact.name}}</h4>
            <p mat-line> {{contact.phone}} </p>
          </mat-list-item>
        </mat-list>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>


      <mat-expansion-panel [expanded]="step === 13" (opened)="setStep(13)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Boston
          </mat-panel-title>
          <mat-panel-description class="d-block text-right">
            <mat-icon color="accent">place</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h2 class="mat-h2 mat-headline">Thiruppugazh activities in Boston</h2>
        <mat-list>
          <h3 mat-subheader>Contact persons in Boston</h3>
          <mat-list-item *ngFor="let contact of bostonC">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example call icon">call</mat-icon>
            <h4 mat-line>{{contact.name}}</h4>
            <p mat-line> {{contact.phone}} </p>
          </mat-list-item>
        </mat-list>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>


      <mat-expansion-panel [expanded]="step === 14" (opened)="setStep(14)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Dubai
          </mat-panel-title>
          <mat-panel-description class="d-block text-right">
            <mat-icon color="accent">place</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h2 class="mat-h2 mat-headline">Thiruppugazh activities in Dubai</h2>
        <mat-list>
          <h3 mat-subheader>Contact persons in Dubai</h3>
          <mat-list-item *ngFor="let contact of dubaiC">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example call icon">call</mat-icon>
            <h4 mat-line>{{contact.name}}</h4>
            <p mat-line> {{contact.phone}} </p>
          </mat-list-item>
        </mat-list>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>


      <mat-expansion-panel [expanded]="step === 15" (opened)="setStep(15)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Singapore
          </mat-panel-title>
          <mat-panel-description class="d-block text-right">
            <mat-icon color="accent">place</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h2 class="mat-h2 mat-headline">Thiruppugazh activities in Singapore</h2>
        <mat-list>
          <h3 mat-subheader>Contact persons in Singapore</h3>
          <mat-list-item *ngFor="let contact of singaporeC">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example call icon">call</mat-icon>
            <h4 mat-line>{{contact.name}}</h4>
            <p mat-line> {{contact.phone}} </p>
          </mat-list-item>
        </mat-list>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="col-md-5 mt-1">
    <app-phone-number-table></app-phone-number-table>
  </div>
</div>
<hr/>
<div class="row m-md-5 m-0">
  <div class="col-12">
    <mat-card class="example-card">
      <mat-card-title>Outreach classes</mat-card-title>
      <mat-card-content>
        <div class="row">
          <div class="col-md-8 m-auto">
            <p>Kumbakonam Classes held two days in a month in Sankara mutt by Smt Chitra and Sri Murthy from Chennai</p>
            <p>Smt Chitra Murthy: 9962577577</p>
            <p>Trichy and Srirangam--Classes held weekly and on every Sashti by Smt Bhuvana from Tanjore.</p>
            <p>Smt Bhuvana: 9940274037</p>
          </div>
          <div class="col-md-4">
            <img mat-card-image src="../../../../assets/otherPhotos/1-min.jpg"
                 class="guru-img m-auto w-100"
                 alt="guruji-img">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<hr/>
<div class="row  m-md-5 m-0">
  <div class="col-12">
    <mat-card class="example-card">
      <mat-card-title>Skype and other techno classes</mat-card-title>
      <mat-card-content>
        <div class="row">
          <div class="col-md-8 m-auto">
            <p>1. Sri R.S. Balaji from Bangalore--students in Dubai and US</p>
            <p>Sri R.S.Balaji: 9686329900</p>
            <p>2. Smt Uma Balasubramanian from Chennai--Students in Delhi,A group of 15 students attend the class in Noida
              by Skype or Whatsapp video call. They use Bluetooth speaker for better clarity.</p>
            <p>Smt Uma Balasubramanian: 9884054757</p>
          </div>
          <div class="col-md-4">
            <img mat-card-image src="../../../../assets/otherPhotos/2-min.jpg"
                 class="guru-img m-auto w-100"
                 alt="guruji-img">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
